In [1]:
import pandas as pd
import os
import json
import csv
import re, datetime
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, timedelta

from lifelines import KaplanMeierFitter

from global_functions import *

### Information

Input files:
data_processing/bugs_info.csv
data_processing/bug_history.csv
raw_data/all_eclipse_bugs_full.csv
raw_data/bug_history.csv


Output files:
data/bugs_info.csv
data/bugs_full.csv (full information of the final dataset)
data/bug_history.csv (injected history of the final dataset)
data/bug_history_orig.csv (original history without injection of the final dataset)
data/bugs_versions.csv (the different versions a bug was assigned to)

In [2]:
bugs_processed_info_file = 'data_processing'+os.sep+'bugs_info.zip'
bugs_processed_history_file = '.'+os.sep+'data_processing'+os.sep+'bug_history.zip'
bugs_original_history_file = '.'+os.sep+'raw_data'+os.sep+'bug_history.zip'
bugs_original_info_file = '.'+os.sep+'raw_data'+os.sep+'all_eclipse_bugs_full.zip'

bugs_final_info_file = 'data'+os.sep+'bugs_info.zip'
bugs_final_full_file = 'data'+os.sep+'bugs_full.zip'
bugs_history_final_file = 'data'+os.sep+'bug_history.zip'
bugs_history_final_file_non_injected = 'data'+os.sep+'bug_history_orig.zip'
bug_versions_file = 'data'+os.sep+'bugs_versions.csv'

In [3]:
relase_creation_ts_all = get_release_dates()

In [4]:
#get data in the preprocessing phase
df_bugs = pd.read_csv(bugs_processed_info_file,index_col=False,compression='zip',
                     dtype={'release':str,'version':str})
df_bugs = trans_to_datetime(df_bugs,['creation_time',
                             'first_resolved_date','last_resolved_date',
                             'first_fixed_date','last_fixed_date',
                             'first_assignment_date','last_assignment_date'])
df_bugs.head()

,id,release,Product,creation_time,version,resolution,is_assigned,is_resolved,is_fixed,first_assignment_date,last_assignment_date,first_resolved_date,last_resolved_date,first_fixed_date,last_fixed_date
0,475361,4.5,Platform,2015-08-19 10:50:25,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03
1,475365,4.6,Platform,2015-08-19 11:34:37,4.6,FIXED,0,1,1,NaT,NaT,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30
2,475370,4.5,Platform,2015-08-19 12:09:06,4.5,DUPLICATE,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT
3,475379,4.5,Platform,2015-08-19 13:39:12,4.5,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT
4,475407,4.5,Platform,2015-08-19 17:06:10,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25

In [5]:
df_bugs.version.unique()

array(['4.5', '4.6', '4.4.2', '4.4.1', '4.5.1', '3.7.2', '3.8.2', '4.4',
       '3.7.1', '4.3', '4.2', '4.2.1', '3.6.2', '4.3.2', '3.6', '4.8',
       '3.1', '4.2.2', '4.7', '3.8', '3.7', '4.3.1', '4.7.1', '4.10',
       '3.4.1', '3.4', '3.5', '3.3.2', '3.3', '3.2.2', '3.2', '3.3.1',
       '3.0.2', '3.4.2', '3.2.1', '3.5.1', '3.1.2', '3.1.1', '3.0',
       '3.0.1', '3.5.2', '3.6.1', '4.7.1a', '4.5.2', '4.9', '3.8.1',
       '4.7.2', '4.7.3', '3.8.0 Juno', '4.5.0 Mars', '4.6.0 Neon',
       '4.7.0 Oxygen', '3.8.2 Juno', '4.8.0 Photon', '3.8.1 Juno'],
      dtype=object)

In [6]:
df_bugs.release.unique()

array(['4.5', '4.6', '4.4', '3.7', '4.2', '4.3', '3.6', '4.8', '3.1',
       '4.7', '4.10', '3.4', '3.5', '3.3', '3.2', '3.0', '4.9'],
      dtype=object)

In [8]:
print('Dataset size:'+str(len(df_bugs.id.unique())))

Dataset size:138445

In [9]:
#get the difference between the first and last date of assignment
df_bugs['time_assign_diff']=df_bugs.apply(
    lambda x: (
        x['last_assignment_date']-x['first_assignment_date']).days 
    if x['last_assignment_date'] is not None and x['first_assignment_date'] is not None 
    else None 
    ,axis=1
)

#get the difference between the first and last date of resolution
df_bugs['time_resolve_diff']=df_bugs.apply(
    lambda x: (
        x['last_resolved_date']-x['first_resolved_date']).days 
    if x['last_resolved_date'] is not None and x['first_resolved_date'] is not None 
    else None 
    ,axis=1
)

#get the difference between the first and last date of fixes
df_bugs['time_fix_diff']=df_bugs.apply(
    lambda x: (
        x['last_fixed_date']-x['first_fixed_date']).days 
    if x['last_fixed_date'] is not None and x['first_fixed_date'] is not None 
    else None 
    ,axis=1
)

df_bugs.head()

,id,release,Product,creation_time,version,resolution,is_assigned,is_resolved,is_fixed,first_assignment_date,last_assignment_date,first_resolved_date,last_resolved_date,first_fixed_date,last_fixed_date,time_assign_diff,time_resolve_diff,time_fix_diff
0,475361,4.5,Platform,2015-08-19 10:50:25,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03,NaN,0.0,0.0
1,475365,4.6,Platform,2015-08-19 11:34:37,4.6,FIXED,0,1,1,NaT,NaT,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30,NaN,0.0,0.0
2,475370,4.5,Platform,2015-08-19 12:09:06,4.5,DUPLICATE,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
3,475379,4.5,Platform,2015-08-19 13:39:12,4.5,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
4,475407,4.5,Platform,2015-08-19 17:06:10,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25,NaN,0.0,0.0

In [10]:
assigned_df = df_bugs[~df_bugs['time_assign_diff'].isna()]
print('Bugs assigned only once:',len(assigned_df[assigned_df['first_assignment_date']==assigned_df['last_assignment_date']]))
print('Bugs assigned only once or assigned more than once but on the same day:',len(assigned_df[assigned_df['time_assign_diff']==0]))
print('Bugs assigned more than one time in more than one days:',len(assigned_df[assigned_df['time_assign_diff']>0]))

Bugs assigned only once: 49304
Bugs assigned only once or assigned more than once but on the same day: 49810
Bugs assigned more than one time in more than one days: 2570

In [11]:
resolved_df = df_bugs[~df_bugs['time_resolve_diff'].isna()]
print('Bugs resolved only once:',len(resolved_df[resolved_df['first_assignment_date']==resolved_df['last_assignment_date']]))
print('Bugs resolved only once or resolved more than once but on the same day:',len(resolved_df[resolved_df['time_assign_diff']==0]))
print('Bugs resolved more than one time in more than one days:',len(resolved_df[resolved_df['time_assign_diff']>0]))

Bugs resolved only once: 42402
Bugs resolved only once or resolved more than once but on the same day: 42887
Bugs resolved more than one time in more than one days: 2264

In [12]:
fixed_df = df_bugs[~df_bugs['time_fix_diff'].isna()]
print('Bugs fixed only once:',len(fixed_df[fixed_df['first_assignment_date']==fixed_df['last_assignment_date']]))
print('Bugs fixed only once or fixed more than once but on the same day:',len(fixed_df[fixed_df['time_assign_diff']==0]))
print('Bugs fixed more than one time in more than one days:',len(fixed_df[fixed_df['time_assign_diff']>0]))

Bugs fixed only once: 31909
Bugs fixed only once or fixed more than once but on the same day: 32327
Bugs fixed more than one time in more than one days: 1794

In [13]:
if not os.path.exists(bugs_history_final_file):
    bug_history = pd.read_csv(bugs_processed_history_file,index_col=False,compression='zip')
    bug_history = bug_history[bug_history['id'].isin(df_bugs.id.unique().tolist())]
    bug_history.to_csv(bugs_history_final_file,index=False,compression='zip')
else:
    bug_history = pd.read_csv(bugs_history_final_file,index_col=False,compression='zip')
bug_history.head()

,added,id,removed,what,when,who
0,platform-help-inbox@eclipse.org,100001,pde-ui-inbox@eclipse.org,assigned_to,2005-06-14T16:16:00Z,wassim.melhem@gmail.com
1,Help,100001,UI,component,2005-06-14T16:16:00Z,wassim.melhem@gmail.com
2,Platform,100001,PDE,product,2005-06-14T16:16:00Z,wassim.melhem@gmail.com
3,konradk@ca.ibm.com,100001,NaN,cc,2005-06-14T17:17:31Z,konradk@ca.ibm.com
4,dejan@ca.ibm.com,100001,platform-help-inbox@eclipse.org,assigned_to,2005-06-14T17:17:31Z,konradk@ca.ibm.com

In [14]:
#Transfer the original files to the data folder with only the final dataset bugs
if not os.path.exists(bugs_final_full_file):
    df_bugs_orig = pd.read_csv(bugs_original_info_file,index_col=False,compression='zip')
    df_bugs_orig = df_bugs_orig[df_bugs_orig['id'].isin(df_bugs.id.unique().tolist())]
    df_bugs_orig.to_csv(bugs_final_full_file,index=False,compression='zip')
else:
    df_bugs_orig = pd.read_csv(bugs_final_full_file,index_col=False,compression='zip')

df_bugs_orig.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,alias,assigned_to,assigned_to_detail.email,assigned_to_detail.id,assigned_to_detail.name,assigned_to_detail.real_name,blocks,cc,cc_detail,classification,...,qa_contact_detail.real_name,resolution,see_also,severity,status,summary,target_milestone,url,version,whiteboard
0,[],Lars.Vogel@vogella.com,Lars.Vogel@vogella.com,31345,Lars.Vogel@vogella.com,Lars Vogel,[],"['Lars.Vogel@vogella.com', 'simon.scholz@vogel...","[{'id': 31345, 'email': 'Lars.Vogel@vogella.co...",Eclipse,...,NaN,FIXED,"['https://git.eclipse.org/r/54078', 'https://g...",normal,RESOLVED,Remove redundant type arguments (1.7 or highte...,4.6 M2,NaN,4.5,NaN
1,[],simon.scholz@vogella.com,simon.scholz@vogella.com,140999,simon.scholz@vogella.com,Simon Scholz,[],['Lars.Vogel@vogella.com'],"[{'name': 'Lars.Vogel@vogella.com', 'real_name...",Eclipse,...,NaN,FIXED,"['https://git.eclipse.org/r/54086', 'https://g...",minor,RESOLVED,[Model Editor] The ModelEditor should use a De...,4.6 M2,NaN,4.6,NaN
2,[],platform-swt-inbox@eclipse.org,platform-swt-inbox@eclipse.org,2206,platform-swt-inbox@eclipse.org,Platform-SWT-Inbox,[],"['daniel_megert@ch.ibm.com', 'ericwill@redhat....","[{'real_name': 'Dani Megert', 'name': 'daniel_...",Eclipse,...,NaN,DUPLICATE,[],minor,CLOSED,Initial scrollbar position incorrect,---,NaN,4.5,NaN
3,[],Platform-UI-Inbox@eclipse.org,Platform-UI-Inbox@eclipse.org,2169,Platform-UI-Inbox@eclipse.org,Platform-UI-Inbox,[],[],[],Eclipse,...,NaN,NaN,[],normal,NEW,Perpective overlay the welcome screen,---,NaN,4.5,NaN
5,[],platform-releng-inbox@eclipse.org,platform-releng-inbox@eclipse.org,2217,platform-releng-inbox@eclipse.org,Platform-Releng-Inbox,[],"['mistria@redhat.com', 'tjwatson@us.ibm.com']","[{'real_name': 'Mickael Istria', 'name': 'mist...",Eclipse,...,NaN,FIXED,[],normal,RESOLVED,rt.equinox.bundles-Gerrit has been running fo...,---,NaN,4.5,NaN

In [15]:
if not os.path.exists(bugs_history_final_file_non_injected):
    bugs_history_orig  = pd.read_csv(bugs_original_history_file,index_col=False,compression='zip')
    bugs_history_orig = bugs_history_orig[bugs_history_orig['id'].isin(df_bugs.id.unique().tolist())]
    bugs_history_orig.to_csv(bugs_history_final_file_non_injected,index=False,compression='zip')
else:
    bugs_history_orig = pd.read_csv(bugs_history_final_file_non_injected,index_col=False,compression='zip')
    
bugs_history_orig.head()

,added,id,removed,what,when,who
0,platform-help-inbox@eclipse.org,100001,pde-ui-inbox@eclipse.org,assigned_to,2005-06-14T16:16:00Z,wassim.melhem@gmail.com
1,Help,100001,UI,component,2005-06-14T16:16:00Z,wassim.melhem@gmail.com
2,Platform,100001,PDE,product,2005-06-14T16:16:00Z,wassim.melhem@gmail.com
3,konradk@ca.ibm.com,100001,NaN,cc,2005-06-14T17:17:31Z,konradk@ca.ibm.com
4,dejan@ca.ibm.com,100001,platform-help-inbox@eclipse.org,assigned_to,2005-06-14T17:17:31Z,konradk@ca.ibm.com

# "version_origin" to store the first release that the bug appeared

In [16]:
#create a new dataframe about a but present in different releases
bug_versions = pd.DataFrame()

In [17]:
bug_versions = df_bugs[['id','version']]
bug_versions['source'] = 'version field'
bug_versions.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       id version         source
0  475361     4.5  version field
1  475365     4.6  version field
2  475370     4.5  version field
3  475379     4.5  version field
4  475407     4.5  version field

In [18]:
df_all = pd.read_csv(bugs_processed_history_file,index_col=False,compression='zip')
df_all[df_all['id'].isin(df_bugs.id.unique())]
df_all=trans_to_datetime(df_all,['when'])
df_all

,added,id,removed,what,when,who
0,platform-help-inbox@eclipse.org,100001,pde-ui-inbox@eclipse.org,assigned_to,2005-06-14 16:16:00,wassim.melhem@gmail.com
1,Help,100001,UI,component,2005-06-14 16:16:00,wassim.melhem@gmail.com
2,Platform,100001,PDE,product,2005-06-14 16:16:00,wassim.melhem@gmail.com
3,konradk@ca.ibm.com,100001,NaN,cc,2005-06-14 17:17:31,konradk@ca.ibm.com
4,dejan@ca.ibm.com,100001,platform-help-inbox@eclipse.org,assigned_to,2005-06-14 17:17:31,konradk@ca.ibm.com
5,3.1 RC3,100001,---,target_milestone,2005-06-14 20:26:08,konradk@ca.ibm.com
6,P2,100001,P3,priority,2005-06-14 20:44:53,dejan@ca.ibm.com
7,RESOLVED,100001,NEW,status,2005-06-14 21:26:05,dejan@ca.ibm.com
8,FIXED,100001,NaN,resolution,2005-06-14 21:26:05,dejan@ca.ibm.com
9,david_audel@fr.ibm.com,100002,jdt-core-inbox@eclipse.org,assigned_to,2006-10-06 19:42:16,Olivier_Thomann@ca.ibm.com
10,RESOLVED,100004,NEW,status,2005-06-14 16:32:08,dirk_baeumer@ch.ibm.com
11,DUPLICATE,100004,NaN,resolution,2005-06-14 16:32:08,dirk_baeumer@ch.ibm.com
12,ClassCastException using array object as gener...,100007,Internal compiler error using array object as ...,summary,2005-06-14 18:31:55,Olivier_Thomann@ca.ibm.com
13,philippe_mulet@fr.ibm.com,100007,jdt-core-inbox@eclipse.org,assigned_to,2005-06-14 23:05:59,philippe_mulet@fr.ibm.com
14,3.1 RC3,100007,---,target_milestone,2005-06-14 23:05:59,philippe_mulet@fr.ibm.com
15,daniel_megert@ch.ibm.com,100007,NaN,cc,2005-06-15 08:47:35,philippe_mulet@fr.ibm.com
16,[1.5][compiler] ClassCastException using array...,100007,ClassCastException using array object as gener...,summary,2005-06-15 08:48:39,philippe_mulet@fr.ibm.com
17,RESOLVED,100007,NEW,status,2005-06-15 09:33:28,philippe_mulet@fr.ibm.com
18,FIXED,100007,NaN,resolution,2005-06-15 09:33:28,philippe_mulet@fr.ibm.com
19,VERIFIED,100007,RESOLVED,status,2005-06-16 18:26:01,Olivier_Thomann@ca.ibm.com
20,tom_eicher@ch.ibm.com,100009,NaN,cc,2005-06-14 22:02:15,daniel_megert@ch.ibm.com
21,[content assist] Content assist uses generic p...,100009,Content assist uses generic parameter name arg...,summary,2005-06-14 22:02:38,daniel_megert@ch.ibm.com
22,jdt-core-inbox@eclipse.org,100009,jdt-text-inbox@eclipse.org,assigned_to,2005-06-15 06:40:08,eclipse@tom.hofmann.name
23,Core,100009,Text,component,2005-06-15 06:40:08,eclipse@tom.hofmann.name
24,[assist] Content assist uses generic parameter...,100009,[content assist] Content assist uses generic p...,summary,2005-06-15 06:40:08,eclipse@tom.hofmann.name
25,daniel_megert@ch.ibm.com,100009,NaN,cc,2005-06-15 07:38:37,daniel_megert@ch.ibm.com
26,david_audel@fr.ibm.com,100009,jdt-core-inbox@eclipse.org,assigned_to,2005-06-15 11:39:18,david_audel@fr.ibm.com
27,dirk_baeumer@ch.ibm.com,100009,NaN,cc,2005-06-21 11:08:14,jerome_lanneluc@fr.ibm.com
28,3.1.1,100009,---,target_milestone,2005-06-21 13:01:25,philippe_mulet@fr.ibm.com
29,3.1 RC4,100009,3.1.1,target_milestone,2005-06-21 13:33:48,philippe_mulet@fr.ibm.com
...,...,...,...,...,...,...
1102872,ASSIGNED,89401,NaN,status,2009-09-25 20:40:58,swt-triaged@eclipse.org
1102873,ASSIGNED,89839,NaN,status,2009-07-09 23:07:04,platform-ui-triaged@eclipse.org
1102874,ASSIGNED,89874,NaN,status,2009-03-06 22:09:44,platform-ui-triaged@eclipse.org
1102875,ASSIGNED,89974,NaN,status,2009-08-13 13:28:36,swt-triaged@eclipse.org
1102876,ASSIGNED,89980,NaN,status,2009-11-19 12:06:08,platform-ui-triaged@eclipse.org
1102877,ASSIGNED,90361,NaN,status,2009-07-15 16:16:21,platform-ui-triaged@eclipse.org
1102878,ASSIGNED,90731,NaN,status,2012-06-21 19:54:47,swt-triaged@eclipse.org
1102879,ASSIGNED,90822,NaN,status,2009-07-09 23:07:14,platform-ui-triaged@eclipse.org
1102880,ASSIGNED,90898,NaN,status,2009-07-10 00:08:05,platform-ui-triaged@eclipse.org
1102881,ASSIGNED,91120,NaN,status,2009-07-15 16:06:33,platform-ui-triaged@eclipse.org
1102882,ASSIGNED,91607,NaN,status,2009-08-19 12:48:23,swt-triaged@eclipse.org
1102883,ASSIGNED,92238,NaN,status,2009-11-26 14:53:15,platform-ui-triaged@eclipse.org
1102884,ASSIGNED,92471,NaN,status,2009-08-26 16:58:20,swt-triaged@eclipse.org
1102885,ASSIGNED,92596,NaN,status,2009-07-15 16:16:23,platform-ui-triaged@eclipse.org
1102886,ASSIGNED,92639,NaN,status,2009-09-25 20:40:50,swt-triaged@eclipse.org
1102887,ASSIGNED,92894,NaN,status,2009-11-11 22:31:48,platform-ui-triaged@eclipse.org
1102888,ASSIGNED,92896,NaN,status,2009-08-13 13:29:26,swt-triaged@eclipse.org
1102889,ASSIGNED,93652,NaN,status,2009-08-13 15:27:17,swt-triaged@eclipse.org
1102890,ASSIGNED,94231,NaN,status,2009-11-26 14:55:10,platform-ui-triaged@eclipse.org
1102891,ASSIGNED,94415,NaN,status,2009-09-25 20:40:55,swt-triaged@eclipse.org
1102892,ASSIGNED,94647,NaN,status,2009-07-15 16:16:25,platform-ui-triaged@eclipse.org
1102893,ASSIGNED,94796,NaN,status,2009-07-09 23:07:19,platform-ui-triaged@eclipse.org
1102894,ASSIGNED,95105,NaN,status,2010-01-27 15:28:20,swt-triaged@eclipse.org
1102895,ASSIGNED,95171,NaN,status,2009-07-09 23:07:21,platform-ui-triaged@eclipse.org
1102896,ASSIGNED,95358,NaN,status,2009-07-09 23:07:22,platform-ui-triaged@eclipse.org
1102897,ASSIGNED,96499,NaN,status,2009-08-28 19:12:49,swt-triaged@eclipse.org
1102898,ASSIGNED,96674,NaN,status,2009-08-19 16:19:00,swt-triaged@eclipse.org
1102899,ASSIGNED,96836,NaN,status,2009-07-09 23:27:15,platform-ui-triaged@eclipse.org
1102900,ASSIGNED,97002,NaN,status,2009-08-28 19:12:52,swt-triaged@eclipse.org
1102901,ASSIGNED,97050,NaN,status,2009-08-19 16:21:03,swt-triaged@eclipse.org

In [19]:
bug_versions

            id     version         source
0       475361         4.5  version field
1       475365         4.6  version field
2       475370         4.5  version field
3       475379         4.5  version field
4       475407         4.5  version field
5       475427         4.5  version field
6       475471         4.6  version field
7       475478         4.6  version field
8       475479         4.6  version field
9       475480         4.5  version field
10      475489         4.6  version field
11      475491         4.6  version field
12      475493         4.6  version field
13      475495         4.6  version field
14      475497         4.6  version field
15      475498       4.4.2  version field
16      475502         4.6  version field
17      475518         4.5  version field
18      475541         4.5  version field
19      475555         4.5  version field
20      475556         4.6  version field
21      475568       4.4.1  version field
22      475578         4.5  version field
23      475590         4.6  version field
24      475604         4.6  version field
25      475621         4.5  version field
26      475628         4.5  version field
27      475629         4.5  version field
28      475642         4.6  version field
29      475643         4.6  version field
...        ...         ...            ...
138415  407175  3.8.2 Juno  version field
138416  407798       3.7.2  version field
138417  408686  3.8.2 Juno  version field
138418  409311       3.6.2  version field
138419  409446  3.8.2 Juno  version field
138420  409748  3.8.2 Juno  version field
138421  409838       3.6.1  version field
138422  409892  3.8.2 Juno  version field
138423  410753  3.8.2 Juno  version field
138424  410960       3.7.2  version field
138425  411718  3.8.0 Juno  version field
138426  411792  3.8.2 Juno  version field
138427  411877         3.7  version field
138428  412883         3.7  version field
138429  413552       3.6.2  version field
138430  413556         3.7  version field
138431  413723         3.7  version field
138432  413981  3.8.2 Juno  version field
138433  414070         3.7  version field
138434  414082  3.8.0 Juno  version field
138435  414153         3.7  version field
138436  414166       3.7.1  version field
138437  414210  3.8.2 Juno  version field
138438  415196  3.8.2 Juno  version field
138439  415197  3.8.2 Juno  version field
138440  416395       3.7.2  version field
138441  416715  3.8.2 Juno  version field
138442  417495       3.7.2  version field
138443  417523  3.8.2 Juno  version field
138444  417620  3.8.2 Juno  version field

[138445 rows x 3 columns]

In [20]:
version_buglist=df_all[df_all['what']=='version'].id.unique()
version_bugs=df_all[df_all['id'].isin(version_buglist)]
only_version_bugs=version_bugs[version_bugs['what']=='version']

version_bugs_grouped=only_version_bugs[['id','removed','when']].rename(index=str,columns={'removed':'version'})

version_bugs_grouped['source'] = 'bug history'

bug_versions = bug_versions.append(version_bugs_grouped,ignore_index=True)

version_bugs_grouped=only_version_bugs[['id','added','when']].rename(index=str,columns={'added':'version'})
version_bugs_grouped['source'] = 'bug history'

bug_versions = bug_versions.append(version_bugs_grouped,ignore_index=True)

bug_versions = bug_versions.drop_duplicates()
bug_versions.head()

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

       id         source version when
0  475361  version field     4.5  NaT
1  475365  version field     4.6  NaT
2  475370  version field     4.5  NaT
3  475379  version field     4.5  NaT
4  475407  version field     4.5  NaT

In [21]:
#if a version exists both because of the version field and the bug history, only keep the version field entry
bug_versions = bug_versions.sort_values(by=['id','version','source'])
bug_versions = bug_versions.drop_duplicates(['id','version'],keep='last')
bug_versions

            id         source     version                when
139848    2382    bug history         2.0 2009-11-02 17:04:45
132067    2382  version field         3.6                 NaT
140887    2802    bug history         2.0 2006-12-07 14:30:43
18483     2802  version field         3.3                 NaT
142176    3091    bug history         2.0 2004-05-17 16:22:02
132068    3091  version field         3.0                 NaT
142257    3109    bug history         2.0 2012-12-31 14:55:50
132069    3109  version field  3.8.0 Juno                 NaT
146835    4745    bug history         2.0 2017-06-28 14:29:39
33037     4745  version field         4.8                 NaT
146928    4808    bug history         2.0 2004-06-28 15:43:36
33038     4808  version field         3.0                 NaT
148066    5875    bug history         2.0 2006-11-07 18:50:02
132070    5875  version field         3.0                 NaT
148104    6465    bug history         2.0 2004-03-09 14:32:02
100288    6465  version field         3.0                 NaT
148432    9168    bug history         2.0 2007-02-14 14:56:30
132071    9168  version field         3.0                 NaT
148456    9355    bug history         2.0 2003-10-03 18:38:34
63274     9355  version field         3.0                 NaT
63275     9809  version field         3.2                 NaT
138681   11407    bug history         2.0 2005-04-06 18:32:07
75136    11407  version field         3.1                 NaT
138770   12475    bug history         2.0 2004-06-04 21:02:07
75137    12475  version field         3.0                 NaT
138815   13000    bug history         2.0 2006-06-14 15:30:51
53915    13000  version field         3.2                 NaT
139257   18130    bug history         2.0 2006-06-14 15:30:51
6137     18130  version field         3.2                 NaT
139305   18608    bug history         2.0 2004-04-12 21:00:47
...        ...            ...         ...                 ...
124499  544444  version field        4.10                 NaT
84861   544451  version field         4.8                 NaT
84862   544458  version field         4.9                 NaT
124500  544472  version field        4.10                 NaT
84863   544481  version field       4.7.1                 NaT
26233   544515  version field        4.10                 NaT
26234   544518  version field        4.10                 NaT
148001  544520    bug history        4.11 2019-02-20 11:42:03
26235   544520  version field         4.7                 NaT
84864   544523  version field         4.9                 NaT
26236   544528  version field       3.8.2                 NaT
148002  544528    bug history        4.11 2019-02-18 12:18:11
124501  544531  version field       3.8.2                 NaT
124502  544541  version field        4.10                 NaT
26237   544554  version field         4.9                 NaT
84865   544556  version field         4.9                 NaT
84866   544560  version field         4.9                 NaT
26238   544565  version field        4.10                 NaT
26239   544573  version field         4.9                 NaT
84867   544578  version field        4.10                 NaT
84868   544601  version field         4.9                 NaT
26240   544602  version field        4.10                 NaT
84869   544607  version field        4.10                 NaT
26241   544611  version field        4.10                 NaT
84870   544640  version field        4.10                 NaT
26242   544647  version field        4.10                 NaT
148003  544656    bug history        4.10 2019-02-21 09:34:47
84871   544656  version field         4.7                 NaT
900     545107  version field       4.7.1                 NaT
901     545137  version field        4.10                 NaT

[148193 rows x 4 columns]

In [22]:
bug_versions.version.unique()

array(['2.0', '3.6', '3.3', '3.0', '3.8.0 Juno', '4.8', '3.2', '3.1',
       'unspecified', '2.1.2', '3.5', '2.1', '2.0.2', '1.0', '1.1',
       '2.1.1', '1.2', '3.1.2', '3.8', '3.0.1', '3.4', '2.1.3', '1.1.3',
       '2.0.1', '3.7', '1.0.0', '3.0.2', '4.0', '3.1.1', '4.7', '0.7',
       '3.2.1', '2.2', '4.4', '4.5.1', '3.2.2', '4.1', '4.4.2', '1.3.0',
       '1.5', '1.0.1', '3.4.1', '1.0.2', '4.2', '2.0.0', '3.3.1', '0.7.1',
       '0.9', '4.2.2', '2.1.0', '3.6.1', '4.3', '0.2', '0.6', '0.8',
       '4.5', '1.2.1', '1.5.2', '3.3.2', '1.5.3', '0.1.3', '1.5.4',
       '4.0.1', '4.6', '3.4.2', '4.0.2', '2.4.0', '1.5.5', 'dev', '2.3.0',
       '2.3', '5.0', '4.0.3', '3.5.1', '1.3.1', '3.0.3', '2.5.0', '3.6.2',
       '2.3.1', '1.0.3', '3.5.2', '5.0.1', '2008-Ganymede', '0.1', '6.0',
       'DD 1.1', '5.0.2', '3.0.0', '1.6.4', '0.9.2', '1.7', '1.1.0',
       '3.7.2', '1.2.0', 'Europa', 'Galileo', '1.7.1', '1.8', '4.2.1',
       '3.8.1', '0.8.0', '6.0.2', '2.6.0', '0 DD 1.1', '3.8.2', '7.0',
       '3.7.1', '4.3.1', '4.3.2', '3.0.5', '2.2.1', '8.0', '0.5', '7.0.1',
       '2.7.0', '3.0.0.M01', '2.6.2', '4.5.0 Mars', '0.12', '4.4.1',
       '0.13.0', 'Next', '0.3', '2.6.1', '2.8.0', '8.1.0', '1.4.0',
       '8.0.2', '-', '4.2.0', '3.8.1 Juno', '3.8.2 Juno', '3.9', '7.0.2',
       '8.1.1', '4.3.0', '0.11', '1.3', '0.13', '3.9.0 Kepler', '2.4.1',
       '0.14', '4.5.2', '2.4.2', '8.2', '3.10.0 Luna', '1.1.1', '1.4',
       '2.4.3', '0.15', '4.11', '8.3.0', '4.4.0', '3.11', '8.5',
       '4.6.0 Neon', '8.4.0', '0.1.0', '0.17', '0.21.0', '2.1.11',
       '4.5.0', '4.8.0 Photon', 'unreleased', '4.7.1a', '9', '0.2.0',
       '3.5.0', '8.6.0', '3.13', '3.14', '0.22.0', '2.1.13', '3.10.0',
       '4.7.0 Oxygen', '3.16', '8.7.0', '3.10.1 Luna', '8.8.0', '2.2.0',
       '4.9', '0 DD 0.9', '4.10', '2.8.4', '2.9.0', '0.12.0', '4.7.1',
       '0.24.0', '1.8 M1', '3.18', '1.10', '4.0.0', '9.0.0', '1.7.0',
       '3.19', '4.6.0', '4.6.1', '3.11.0', '1.0.21', '8.8.1', '9.2.0',
       '9.3.0', '2.11.0', '4.6.3', '1.8.0', '5.0.0', '3.9 (Oxygen)',
       '4.9.1', '2.4.10', '1.8.1', '4.7.2', '4.7.0', '9.3.2', '9.4.2',
       '1.9.0', '4.7.3', '9.5.0', '1.5.0', '5.9', '1.9.1', '2.12.0',
       '5.1', '3.10 (Photon)', '5.2'], dtype=object)

In [23]:
#filter 1: fix names that we know the number for, e.g., Galileo
bug_versions.loc[bug_versions['version']=='Europa','version'] = '3.3'
bug_versions.loc[bug_versions['version']=='2008-Ganymede','version'] = '3.4'
bug_versions.loc[bug_versions['version']=='Galileo','version'] = '3.5'

In [24]:
#filter 2: 
bug_versions = bug_versions[bug_versions['version'].str.find('.')>=0]
bug_versions.head()

          id         source version                when
139848  2382    bug history     2.0 2009-11-02 17:04:45
132067  2382  version field     3.6                 NaT
140887  2802    bug history     2.0 2006-12-07 14:30:43
18483   2802  version field     3.3                 NaT
142176  3091    bug history     2.0 2004-05-17 16:22:02

In [25]:
bug_versions.version.unique()

array(['2.0', '3.6', '3.3', '3.0', '3.8.0 Juno', '4.8', '3.2', '3.1',
       '2.1.2', '3.5', '2.1', '2.0.2', '1.0', '1.1', '2.1.1', '1.2',
       '3.1.2', '3.8', '3.0.1', '3.4', '2.1.3', '1.1.3', '2.0.1', '3.7',
       '1.0.0', '3.0.2', '4.0', '3.1.1', '4.7', '0.7', '3.2.1', '2.2',
       '4.4', '4.5.1', '3.2.2', '4.1', '4.4.2', '1.3.0', '1.5', '1.0.1',
       '3.4.1', '1.0.2', '4.2', '2.0.0', '3.3.1', '0.7.1', '0.9', '4.2.2',
       '2.1.0', '3.6.1', '4.3', '0.2', '0.6', '0.8', '4.5', '1.2.1',
       '1.5.2', '3.3.2', '1.5.3', '0.1.3', '1.5.4', '4.0.1', '4.6',
       '3.4.2', '4.0.2', '2.4.0', '1.5.5', '2.3.0', '2.3', '5.0', '4.0.3',
       '3.5.1', '1.3.1', '3.0.3', '2.5.0', '3.6.2', '2.3.1', '1.0.3',
       '3.5.2', '5.0.1', '0.1', '6.0', 'DD 1.1', '5.0.2', '3.0.0',
       '1.6.4', '0.9.2', '1.7', '1.1.0', '3.7.2', '1.2.0', '1.7.1', '1.8',
       '4.2.1', '3.8.1', '0.8.0', '6.0.2', '2.6.0', '0 DD 1.1', '3.8.2',
       '7.0', '3.7.1', '4.3.1', '4.3.2', '3.0.5', '2.2.1', '8.0', '0.5',
       '7.0.1', '2.7.0', '3.0.0.M01', '2.6.2', '4.5.0 Mars', '0.12',
       '4.4.1', '0.13.0', '0.3', '2.6.1', '2.8.0', '8.1.0', '1.4.0',
       '8.0.2', '4.2.0', '3.8.1 Juno', '3.8.2 Juno', '3.9', '7.0.2',
       '8.1.1', '4.3.0', '0.11', '1.3', '0.13', '3.9.0 Kepler', '2.4.1',
       '0.14', '4.5.2', '2.4.2', '8.2', '3.10.0 Luna', '1.1.1', '1.4',
       '2.4.3', '0.15', '4.11', '8.3.0', '4.4.0', '3.11', '8.5',
       '4.6.0 Neon', '8.4.0', '0.1.0', '0.17', '0.21.0', '2.1.11',
       '4.5.0', '4.8.0 Photon', '4.7.1a', '0.2.0', '3.5.0', '8.6.0',
       '3.13', '3.14', '0.22.0', '2.1.13', '3.10.0', '4.7.0 Oxygen',
       '3.16', '8.7.0', '3.10.1 Luna', '8.8.0', '2.2.0', '4.9',
       '0 DD 0.9', '4.10', '2.8.4', '2.9.0', '0.12.0', '4.7.1', '0.24.0',
       '1.8 M1', '3.18', '1.10', '4.0.0', '9.0.0', '1.7.0', '3.19',
       '4.6.0', '4.6.1', '3.11.0', '1.0.21', '8.8.1', '9.2.0', '9.3.0',
       '2.11.0', '4.6.3', '1.8.0', '5.0.0', '3.9 (Oxygen)', '4.9.1',
       '2.4.10', '1.8.1', '4.7.2', '4.7.0', '9.3.2', '9.4.2', '1.9.0',
       '4.7.3', '9.5.0', '1.5.0', '5.9', '1.9.1', '2.12.0', '5.1',
       '3.10 (Photon)', '5.2'], dtype=object)

In [26]:
#fix abnormal values because we might miss closest minor releases
for versioninit in bug_versions.version.unique().tolist():
    version = versioninit
    if ' ' in version:
        if '.' not in version[:version.find(' ')]:
            continue
        else:
            version = version[:version.find(' ')]
            bug_versions.loc[bug_versions['version']==versioninit,'version'] = version

bug_versions.version.unique()

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

array(['2.0', '3.6', '3.3', '3.0', '3.8.0', '4.8', '3.2', '3.1', '2.1.2',
       '3.5', '2.1', '2.0.2', '1.0', '1.1', '2.1.1', '1.2', '3.1.2',
       '3.8', '3.0.1', '3.4', '2.1.3', '1.1.3', '2.0.1', '3.7', '1.0.0',
       '3.0.2', '4.0', '3.1.1', '4.7', '0.7', '3.2.1', '2.2', '4.4',
       '4.5.1', '3.2.2', '4.1', '4.4.2', '1.3.0', '1.5', '1.0.1', '3.4.1',
       '1.0.2', '4.2', '2.0.0', '3.3.1', '0.7.1', '0.9', '4.2.2', '2.1.0',
       '3.6.1', '4.3', '0.2', '0.6', '0.8', '4.5', '1.2.1', '1.5.2',
       '3.3.2', '1.5.3', '0.1.3', '1.5.4', '4.0.1', '4.6', '3.4.2',
       '4.0.2', '2.4.0', '1.5.5', '2.3.0', '2.3', '5.0', '4.0.3', '3.5.1',
       '1.3.1', '3.0.3', '2.5.0', '3.6.2', '2.3.1', '1.0.3', '3.5.2',
       '5.0.1', '0.1', '6.0', 'DD 1.1', '5.0.2', '3.0.0', '1.6.4',
       '0.9.2', '1.7', '1.1.0', '3.7.2', '1.2.0', '1.7.1', '1.8', '4.2.1',
       '3.8.1', '0.8.0', '6.0.2', '2.6.0', '0 DD 1.1', '3.8.2', '7.0',
       '3.7.1', '4.3.1', '4.3.2', '3.0.5', '2.2.1', '8.0', '0.5', '7.0.1',
       '2.7.0', '3.0.0.M01', '2.6.2', '4.5.0', '0.12', '4.4.1', '0.13.0',
       '0.3', '2.6.1', '2.8.0', '8.1.0', '1.4.0', '8.0.2', '4.2.0', '3.9',
       '7.0.2', '8.1.1', '4.3.0', '0.11', '1.3', '0.13', '3.9.0', '2.4.1',
       '0.14', '4.5.2', '2.4.2', '8.2', '3.10.0', '1.1.1', '1.4', '2.4.3',
       '0.15', '4.11', '8.3.0', '4.4.0', '3.11', '8.5', '4.6.0', '8.4.0',
       '0.1.0', '0.17', '0.21.0', '2.1.11', '4.8.0', '4.7.1a', '0.2.0',
       '3.5.0', '8.6.0', '3.13', '3.14', '0.22.0', '2.1.13', '4.7.0',
       '3.16', '8.7.0', '3.10.1', '8.8.0', '2.2.0', '4.9', '0 DD 0.9',
       '4.10', '2.8.4', '2.9.0', '0.12.0', '4.7.1', '0.24.0', '3.18',
       '1.10', '4.0.0', '9.0.0', '1.7.0', '3.19', '4.6.1', '3.11.0',
       '1.0.21', '8.8.1', '9.2.0', '9.3.0', '2.11.0', '4.6.3', '1.8.0',
       '5.0.0', '4.9.1', '2.4.10', '1.8.1', '4.7.2', '9.3.2', '9.4.2',
       '1.9.0', '4.7.3', '9.5.0', '1.5.0', '5.9', '1.9.1', '2.12.0',
       '5.1', '3.10', '5.2'], dtype=object)

In [27]:
bug_versions['release'] = bug_versions.apply(lambda x: assign_to_closest_minor(str(x['version'])),axis=1)
bug_versions['release'] = bug_versions['release'].astype(str)
bug_versions

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

            id         source version                when release
139848    2382    bug history     2.0 2009-11-02 17:04:45     2.0
132067    2382  version field     3.6                 NaT     3.6
140887    2802    bug history     2.0 2006-12-07 14:30:43     2.0
18483     2802  version field     3.3                 NaT     3.3
142176    3091    bug history     2.0 2004-05-17 16:22:02     2.0
132068    3091  version field     3.0                 NaT     3.0
142257    3109    bug history     2.0 2012-12-31 14:55:50     2.0
132069    3109  version field   3.8.0                 NaT     4.2
146835    4745    bug history     2.0 2017-06-28 14:29:39     2.0
33037     4745  version field     4.8                 NaT     4.8
146928    4808    bug history     2.0 2004-06-28 15:43:36     2.0
33038     4808  version field     3.0                 NaT     3.0
148066    5875    bug history     2.0 2006-11-07 18:50:02     2.0
132070    5875  version field     3.0                 NaT     3.0
148104    6465    bug history     2.0 2004-03-09 14:32:02     2.0
100288    6465  version field     3.0                 NaT     3.0
148432    9168    bug history     2.0 2007-02-14 14:56:30     2.0
132071    9168  version field     3.0                 NaT     3.0
148456    9355    bug history     2.0 2003-10-03 18:38:34     2.0
63274     9355  version field     3.0                 NaT     3.0
63275     9809  version field     3.2                 NaT     3.2
138681   11407    bug history     2.0 2005-04-06 18:32:07     2.0
75136    11407  version field     3.1                 NaT     3.1
138770   12475    bug history     2.0 2004-06-04 21:02:07     2.0
75137    12475  version field     3.0                 NaT     3.0
138815   13000    bug history     2.0 2006-06-14 15:30:51     2.0
53915    13000  version field     3.2                 NaT     3.2
139257   18130    bug history     2.0 2006-06-14 15:30:51     2.0
6137     18130  version field     3.2                 NaT     3.2
139305   18608    bug history     2.0 2004-04-12 21:00:47     2.0
...        ...            ...     ...                 ...     ...
124499  544444  version field    4.10                 NaT    4.10
84861   544451  version field     4.8                 NaT     4.8
84862   544458  version field     4.9                 NaT     4.9
124500  544472  version field    4.10                 NaT    4.10
84863   544481  version field   4.7.1                 NaT     4.7
26233   544515  version field    4.10                 NaT    4.10
26234   544518  version field    4.10                 NaT    4.10
148001  544520    bug history    4.11 2019-02-20 11:42:03    4.11
26235   544520  version field     4.7                 NaT     4.7
84864   544523  version field     4.9                 NaT     4.9
26236   544528  version field   3.8.2                 NaT     4.2
148002  544528    bug history    4.11 2019-02-18 12:18:11    4.11
124501  544531  version field   3.8.2                 NaT     4.2
124502  544541  version field    4.10                 NaT    4.10
26237   544554  version field     4.9                 NaT     4.9
84865   544556  version field     4.9                 NaT     4.9
84866   544560  version field     4.9                 NaT     4.9
26238   544565  version field    4.10                 NaT    4.10
26239   544573  version field     4.9                 NaT     4.9
84867   544578  version field    4.10                 NaT    4.10
84868   544601  version field     4.9                 NaT     4.9
26240   544602  version field    4.10                 NaT    4.10
84869   544607  version field    4.10                 NaT    4.10
26241   544611  version field    4.10                 NaT    4.10
84870   544640  version field    4.10                 NaT    4.10
26242   544647  version field    4.10                 NaT    4.10
148003  544656    bug history    4.10 2019-02-21 09:34:47    4.10
84871   544656  version field     4.7                 NaT     4.7
900     545107  version field   4.7.1                 NaT     4.7
901     545137  version field    4.10                 NaT    4.10

[146563 rows x 5 columns]

In [28]:
bug_versions.head()

          id         source version                when release
139848  2382    bug history     2.0 2009-11-02 17:04:45     2.0
132067  2382  version field     3.6                 NaT     3.6
140887  2802    bug history     2.0 2006-12-07 14:30:43     2.0
18483   2802  version field     3.3                 NaT     3.3
142176  3091    bug history     2.0 2004-05-17 16:22:02     2.0

In [29]:
print('Current releases:'+str(sorted(bug_versions.release.unique().tolist())))

Current releases:['0 DD 0.9', '0 DD 1.1', '0.1', '0.11', '0.12', '0.13', '0.14', '0.15', '0.17', '0.2', '0.21', '0.22', '0.24', '0.3', '0.5', '0.6', '0.7', '0.8', '0.9', '1.0', '1.1', '1.10', '1.2', '1.3', '1.4', '1.5', '1.6', '1.7', '1.8', '1.9', '2.0', '2.1', '2.11', '2.12', '2.2', '2.3', '2.4', '2.5', '2.6', '2.7', '2.8', '2.9', '3.0', '3.1', '3.10', '3.11', '3.13', '3.14', '3.16', '3.18', '3.19', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7', '3.9', '4.0', '4.1', '4.10', '4.11', '4.2', '4.3', '4.4', '4.5', '4.6', '4.7', '4.8', '4.9', '5.0', '5.1', '5.2', '5.9', '6.0', '7.0', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5', '8.6', '8.7', '8.8', '9.0', '9.2', '9.3', '9.4', '9.5', 'DD 1.1']

In [30]:
#filter 3: exclude the releases not in our study
bug_versions = bug_versions[bug_versions['release'].isin(relase_creation_ts_all)]
print('After filtering releases:'+str(sorted(bug_versions.release.unique().tolist())))

After filtering releases:['3.0', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7', '4.10', '4.11', '4.2', '4.3', '4.4', '4.5', '4.6', '4.7', '4.8', '4.9']

In [31]:
sbugs = bug_versions[bug_versions['source']!='version field'].id.unique().tolist()

In [32]:
print('Bugs with multiple versions:'+str(len(sbugs)))

Bugs with multiple versions:4063

In [34]:
#counter1 counts the number of bugs with a major version chagne
counter1=0
for bid in sbugs:
    try:
        version_field_release = bug_versions[(bug_versions['id']==bid )& (bug_versions['source']=='version field')].release.values.tolist()[0]
    except:
        continue
    history_values = bug_versions[(bug_versions['id']==bid )& (bug_versions['source']=='bug history')].release.values.tolist()
    
    major_change = [x for x in history_values if x!=version_field_release]
    if len(major_change)>0:
        counter1+=1
print('counter1='+str(counter1))

counter1=3621

In [35]:
df_bugs[df_bugs['id'].isin(sbugs)].groupby('resolution')['id'].nunique().reset_index()

    resolution    id
0    DUPLICATE   595
1        FIXED  1538
2      INVALID   195
3        MOVED     1
4  NOT_ECLIPSE   104
5      WONTFIX   197
6   WORKSFORME   386

In [38]:
#measure the number of bugs that were resolved in multiple major releases
resolved_sbugs = df_bugs[(df_bugs['id'].isin(sbugs)) & (df_bugs['is_resolved']==1)].id.unique()
resolution

In [45]:
bug_history[bug_history['id']==39447]

,added,id,removed,what,when,who
580419,major,39447,normal,severity,2003-06-27T23:43:47Z,chris@scmbb.ulb.ac.be
580420,jdt-ui-inbox@eclipse.org,39447,jdt-core-inbox@eclipse.org,assigned_to,2003-06-30T10:16:52Z,philippe_mulet@fr.ibm.com
580421,UI,39447,Core,component,2003-06-30T10:16:52Z,philippe_mulet@fr.ibm.com
580422,erich_gamma@ch.ibm.com,39447,jdt-ui-inbox@eclipse.org,assigned_to,2003-07-07T09:22:30Z,erich_gamma@ch.ibm.com
580423,erimurph@pfc.cfs.nrcan.gc.ca,39447,NaN,cc,2005-12-08T18:41:20Z,erimurph@pfc.cfs.nrcan.gc.ca
580424,jdt-ui-inbox@eclipse.org,39447,erich_gamma@ch.ibm.com,assigned_to,2006-05-24T09:48:23Z,erich_gamma@ch.ibm.com
580425,3.2,39447,3.0,version,2006-05-24T09:48:23Z,erich_gamma@ch.ibm.com
580426,RESOLVED,39447,NEW,status,2006-05-24T20:43:42Z,martinae@microsoft.com
580427,LATER,39447,NaN,resolution,2006-05-24T20:43:42Z,martinae@microsoft.com
580428,"[Junit] When run as JUnit Test, Specific Class...",39447,"When run as JUnit Test, Specific Class Name ca...",summary,2006-05-24T20:43:42Z,martinae@microsoft.com
580429,NaN,39447,LATER,resolution,2006-05-24T20:44:02Z,martinae@microsoft.com
580430,REOPENED,39447,RESOLVED,status,2006-05-24T20:44:02Z,martinae@microsoft.com
580431,RESOLVED,39447,REOPENED,status,2006-05-24T20:44:21Z,martinae@microsoft.com
580432,REMIND,39447,NaN,resolution,2006-05-24T20:44:21Z,martinae@microsoft.com
580433,needinfo,39447,NaN,keywords,2009-08-30T06:05:05Z,denis.roy@eclipse-foundation.org
580434,INVALID,39447,REMIND,resolution,2009-08-30T06:05:05Z,denis.roy@eclipse-foundation.org

In [92]:
multiple_resolutions_candidates = (
    bug_history[(bug_history['id'].isin(resolved_sbugs)) & 
                (bug_history['what']=='status') & 
                (bug_history['added']=='RESOLVED')]
)
multiple_resolutions_candidates = multiple_resolutions_candidates.groupby('id')['what'].count().reset_index()
multiple_resolutions_candidates = multiple_resolutions_candidates[multiple_resolutions_candidates['what']>1].id.unique().tolist()

threats = list()
for bid in multiple_resolutions_candidates:
    #to be a threat, we need to have 1 resolved, 1 version change and 1 more resolved event
    bhistory = bug_history[bug_history['id']==bid]
    to_test = pd.DataFrame()
    to_test = to_test.append(bhistory[bhistory['what']=='version'],ignore_index=True)
    to_test = to_test.append(bhistory[(bhistory['what']=='status') & (bhistory['added']=='RESOLVED')],ignore_index=True)
    to_test['when'] = pd.to_datetime(to_test['when'])
    to_test = to_test.sort_values(by='when')
    
    init_version = sort_df(bug_versions[bug_versions['id']==bid],'release')['release'].values.tolist()[0]
    
    version_change_found = False
    changed_major = False
    res1_found = False
    res2_found = False
    for index,row in to_test.iterrows():
        if row['added']=='RESOLVED' and not version_change_found:
            res1_found = True
            continue
        if row['what']=='version' and res1_found:
            new_version = str(row['added'])
            try:
                new_release = assign_to_closest_minor(new_version)
            except:
                continue
            if new_release!=init_version:
                version_change_found = True
                continue
        if res1_found and version_change_found and row['added']=='RESOLVED':
            res2_found = True
            break
    if res1_found and version_change_found and res2_found:
        threats.append(bid)

    
print('Bugs that are resolved in multiple releases (resolved, changed version and re-resolved):'+str(len(threats)))

Bugs that are resolved in multiple releases (resolved, changed version and re-resolved):98

In [93]:
if not os.path.exists(bug_versions_file):
    bug_versions.to_csv(bug_versions_file,index=False,compression='zip')

In [94]:
def get_tap(value):
    tap = tuple(int(i) for i in value.split('.'))
    return tap

def ag_function_min(values):
    values = values.unique().tolist()
    if len(values)>1:
        values = [get_tap(x) for x in values]
        values = sorted(values)
        min_val = values[0]
        return str(min_val[0])+'.'+str(min_val[1])
    else:
        return values[0]
    
def ag_function_max(values):
    values = values.unique().tolist()
    if len(values)>1:
        values = [get_tap(x) for x in values]
        values = sorted(values,reverse=True)
        max_val = values[0]
        return str(max_val[0])+'.'+str(max_val[1])
    else:
        return values[0]

min_releases = (
    bug_versions
    .groupby(by=['id'])
    .agg({'release':ag_function_min})
    .reset_index()
    .rename(index=str,columns={'release':'min_release'})
)
max_releases = (
    bug_versions
    .groupby(by=['id'])
    .agg({'release':ag_function_max})
    .reset_index()
    .rename(index=str,columns={'release':'max_release'})
)

if 'min_release' not in df_bugs.columns:
    df_bugs = pd.merge(df_bugs,min_releases,on=['id'],how='left')
    
if 'max_release' not in df_bugs.columns:
    df_bugs = pd.merge(df_bugs,max_releases,on=['id'],how='left')

In [ ]:
#the bugs with not version coming from the bug history will have None values in the min and max release columns
for index,row in df_bugs[df_bugs['min_release'].isna()].iterrows():
    df_bugs.loc[index,'min_release'] = row['release']
    
for index,row in df_bugs[df_bugs['max_release'].isna()].iterrows():
    df_bugs.loc[index,'max_release'] = row['release']

In [95]:
print('Bugs in more than one release:'+str(len(df_bugs[df_bugs['min_release']!=df_bugs['max_release']])))
perc = len(df_bugs[df_bugs['min_release']!=df_bugs['max_release']])/len(df_bugs)
print('Percentage:'+str(perc))

Bugs in more than one release:3621
Percentage:0.026154790711112715

In [96]:
#create a temp dataframe to calculate this
dftemp = df_bugs
dftemp['min_release_before_version_field'] = dftemp.apply(
    lambda x :
    is_larger_release(x['release'],x['min_release']),
    axis=1
)
print('Bugs started in earlier releases (compared to the verion field value):'+str(len(dftemp[dftemp['min_release_before_version_field']==True])))

Bugs started in earlier releases (compared to the verion field value):1709

In [97]:
dftemp['min_release_after_version_field'] = dftemp.apply(
    lambda x :
    is_larger_release(x['min_release'],x['release']),
    axis=1
)
print('Bugs started in subsequent releases (compared to the verion field value):'+str(len(dftemp[dftemp['min_release_after_version_field']==True])))

Bugs started in subsequent releases (compared to the verion field value):0

In [98]:
#EXPORT FILES
df_bugs.to_csv(bugs_final_info_file,index=False,compression='zip')