In [1]:
import pandas as pd
import os
import json
import csv
import re, datetime
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, timedelta

from lifelines import KaplanMeierFitter

from global_functions import *

### Information

Input files:
data_processing/bugs_info.csv
data_processing/bug_history.csv
raw_data/all_eclipse_bugs_full.csv
raw_data/bug_history.csv


Output files:
data/bugs_info.csv
data/bugs_full.csv (full information of the final dataset)
data/bug_history.csv (injected history of the final dataset)
data/bug_history_orig.csv (original history without injection of the final dataset)
data/bugs_versions.csv (the different versions a bug was assigned to)

In [2]:
bugs_processed_info_file = 'data_processing'+os.sep+'bugs_info.zip'
bugs_processed_history_file = '.'+os.sep+'data_processing'+os.sep+'bug_history.zip'
bugs_original_history_file = '.'+os.sep+'raw_data'+os.sep+'bug_history.zip'
bugs_original_info_file = '.'+os.sep+'raw_data'+os.sep+'all_eclipse_bugs_full.zip'

bugs_final_info_file = 'data'+os.sep+'bugs_info.zip'
bugs_final_full_file = 'data'+os.sep+'bugs_full.zip'
bugs_history_final_file = 'data'+os.sep+'bug_history.zip'
bugs_history_final_file_non_injected = 'data'+os.sep+'bug_history_orig.zip'
bug_versions_file = 'data'+os.sep+'bugs_versions.csv'

In [3]:
relase_creation_ts_all = get_release_dates()

In [4]:
#get data in the preprocessing phase
df_bugs = pd.read_csv(bugs_processed_info_file,index_col=False,compression='zip'
                     dtype={'release':str,'version':str})
df_bugs = trans_to_datetime(df_bugs,['creation_time',
                             'first_resolved_date','last_resolved_date',
                             'first_fixed_date','last_fixed_date',
                             'first_assignment_date','last_assignment_date'])
df_bugs.head()

,id,release,Product,creation_time,version,resolution,is_assigned,is_resolved,is_fixed,first_assignment_date,last_assignment_date,first_resolved_date,last_resolved_date,first_fixed_date,last_fixed_date
0,475361,4.5,Platform,2015-08-19 10:50:25,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03
1,475365,4.6,Platform,2015-08-19 11:34:37,4.6,FIXED,0,1,1,NaT,NaT,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30
2,475370,4.5,Platform,2015-08-19 12:09:06,4.5,DUPLICATE,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT
3,475379,4.5,Platform,2015-08-19 13:39:12,4.5,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT
4,475407,4.5,Platform,2015-08-19 17:06:10,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25

In [5]:
df_bugs['release'] = df_bugs.apply(lambda x: assign_to_closest_minor(str(x['version'])),axis=1)

In [6]:
df_bugs.version.unique()

array(['4.5', '4.6', '4.4.2', '4.4.1', '4.5.1', '3.7.2', '3.8.2', '4.4',
       '3.7.1', '4.3', '4.2', '4.2.1', '3.6.2', '4.3.2', '3.6', '4.8',
       '3.1', '4.2.2', '4.7', '3.8', '3.7', '4.3.1', '4.7.1', '4.10',
       '3.4.1', '3.4', '3.5', '3.3.2', '4.0', '3.3', '3.2.2', '3.2',
       '3.3.1', '3.0.2', '3.4.2', '3.2.1', '3.5.1', '3.1.2', '3.1.1',
       '3.0', '3.0.1', '4.1', '3.5.2', '3.6.1', '4.7.1a', '4.5.2', '4.9',
       '3.8.1', '4.7.2', '4.7.3', '3.8.0 Juno', '4.5.0 Mars',
       '3.10.0 Luna', '4.6.0 Neon', '3.10.1 Luna', '4.7.0 Oxygen',
       '3.9.0 Kepler', '3.8.2 Juno', '4.8.0 Photon', '3.8.1 Juno'],
      dtype=object)

In [7]:
df_bugs.release.unique()

array(['4.5', '4.6', '4.4', '3.7', '4.2', '4.3', '3.6', '4.8', '3.1',
       '4.7', '4.10', '3.4', '3.5', '3.3', '4.0', '3.2', '3.0', '4.1',
       '4.9', '3.10', '3.9'], dtype=object)

In [8]:
bef = len(df_bugs.id.unique())
print('Dataset size before:'+str(bef))
print('Removed releases because they are out of scope:'+str(df_bugs[~df_bugs['release'].isin(relase_creation_ts_all)].release.unique().tolist()))
df_bugs = df_bugs[df_bugs['release'].isin(relase_creation_ts_all)]
after = len(df_bugs.id.unique())
print('Removed bugs because they were not in the target releases:'+str(bef-after))
print('Dataset size:'+str(len(df_bugs.id.unique())))

Dataset size before:141010
Removed releases because they are out of scope:['4.0', '4.1', '3.10', '3.9']
Removed bugs because they were not in the target releases:2565
Dataset size:138445

In [9]:
#get the difference between the first and last date of assignment
df_bugs['time_assign_diff']=df_bugs.apply(
    lambda x: (
        x['last_assignment_date']-x['first_assignment_date']).days 
    if x['last_assignment_date'] is not None and x['first_assignment_date'] is not None 
    else None 
    ,axis=1
)

#get the difference between the first and last date of resolution
df_bugs['time_resolve_diff']=df_bugs.apply(
    lambda x: (
        x['last_resolved_date']-x['first_resolved_date']).days 
    if x['last_resolved_date'] is not None and x['first_resolved_date'] is not None 
    else None 
    ,axis=1
)

#get the difference between the first and last date of fixes
df_bugs['time_fix_diff']=df_bugs.apply(
    lambda x: (
        x['last_fixed_date']-x['first_fixed_date']).days 
    if x['last_fixed_date'] is not None and x['first_fixed_date'] is not None 
    else None 
    ,axis=1
)

df_bugs.head()

,id,release,Product,creation_time,version,resolution,is_assigned,is_resolved,is_fixed,first_assignment_date,last_assignment_date,first_resolved_date,last_resolved_date,first_fixed_date,last_fixed_date,time_assign_diff,time_resolve_diff,time_fix_diff
0,475361,4.5,Platform,2015-08-19 10:50:25,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03,NaN,0.0,0.0
1,475365,4.6,Platform,2015-08-19 11:34:37,4.6,FIXED,0,1,1,NaT,NaT,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30,NaN,0.0,0.0
2,475370,4.5,Platform,2015-08-19 12:09:06,4.5,DUPLICATE,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
3,475379,4.5,Platform,2015-08-19 13:39:12,4.5,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
4,475407,4.5,Platform,2015-08-19 17:06:10,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25,NaN,0.0,0.0

In [10]:
assigned_df = df_bugs[~df_bugs['time_assign_diff'].isna()]
print('Bugs assigned only once:',len(assigned_df[assigned_df['first_assignment_date']==assigned_df['last_assignment_date']]))
print('Bugs assigned only once or assigned more than once but on the same day:',len(assigned_df[assigned_df['time_assign_diff']==0]))
print('Bugs assigned more than one time in more than one days:',len(assigned_df[assigned_df['time_assign_diff']>0]))

Bugs assigned only once: 47999
Bugs assigned only once or assigned more than once but on the same day: 48604
Bugs assigned more than one time in more than one days: 3776

In [11]:
resolved_df = df_bugs[~df_bugs['time_resolve_diff'].isna()]
print('Bugs resolved only once:',len(resolved_df[resolved_df['first_assignment_date']==resolved_df['last_assignment_date']]))
print('Bugs resolved only once or resolved more than once but on the same day:',len(resolved_df[resolved_df['time_assign_diff']==0]))
print('Bugs resolved more than one time in more than one days:',len(resolved_df[resolved_df['time_assign_diff']>0]))

Bugs resolved only once: 41466
Bugs resolved only once or resolved more than once but on the same day: 42045
Bugs resolved more than one time in more than one days: 3106

In [12]:
fixed_df = df_bugs[~df_bugs['time_fix_diff'].isna()]
print('Bugs fixed only once:',len(fixed_df[fixed_df['first_assignment_date']==fixed_df['last_assignment_date']]))
print('Bugs fixed only once or fixed more than once but on the same day:',len(fixed_df[fixed_df['time_assign_diff']==0]))
print('Bugs fixed more than one time in more than one days:',len(fixed_df[fixed_df['time_assign_diff']>0]))

Bugs fixed only once: 31170
Bugs fixed only once or fixed more than once but on the same day: 31678
Bugs fixed more than one time in more than one days: 2443

In [13]:
bug_history = pd.read_csv(bugs_processed_history_file,index_col=False,compression='zip')
bug_history = bug_history[bug_history['id'].isin(df_bugs.id.unique().tolist())]
bug_history.to_csv(bugs_history_final_file,index=False,compression='zip')

In [14]:
#Transfer the original files to the data folder with only the final dataset bugs
df_bugs_orig = pd.read_csv(bugs_original_info_file,index_col=False,compression='zip')
df_bugs_orig = df_bugs_orig[df_bugs_orig['id'].isin(df_bugs.id.unique().tolist())]
df_bugs_orig.to_csv(bugs_final_full_file,index=False,compression='zip')

bugs_history_orig  = pd.read_csv(bugs_original_history_file,index_col=False,compression='zip')
bugs_history_orig = bugs_history_orig[bugs_history_orig['id'].isin(df_bugs.id.unique().tolist())]
bugs_history_orig.to_csv(bugs_history_final_file_non_injected,index=False,compression='zip')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# "version_origin" to store the first release that the bug appeared

In [13]:
#create a new dataframe about a but present in different releases
bug_versions = pd.DataFrame()

In [14]:
bug_versions = df_bugs[['id','version']]
bug_versions['source'] = 'version field'
bug_versions.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       id version         source
0  475361     4.5  version field
1  475365     4.6  version field
2  475370     4.5  version field
3  475379     4.5  version field
4  475407     4.5  version field

In [27]:
df_all = pd.read_csv(bugs_processed_history_file,index_col=False,compression='zip')
df_all[df_all['id'].isin(df_bugs.id.unique())]
df_all=trans_to_datetime(df_all,['when'])
df_all

,added,id,removed,what,when,who
0,platform-help-inbox@eclipse.org,100001,pde-ui-inbox@eclipse.org,assigned_to,2005-06-14 16:16:00,wassim.melhem@gmail.com
1,Help,100001,UI,component,2005-06-14 16:16:00,wassim.melhem@gmail.com
2,Platform,100001,PDE,product,2005-06-14 16:16:00,wassim.melhem@gmail.com
3,konradk@ca.ibm.com,100001,NaN,cc,2005-06-14 17:17:31,konradk@ca.ibm.com
4,dejan@ca.ibm.com,100001,platform-help-inbox@eclipse.org,assigned_to,2005-06-14 17:17:31,konradk@ca.ibm.com
5,3.1 RC3,100001,---,target_milestone,2005-06-14 20:26:08,konradk@ca.ibm.com
6,P2,100001,P3,priority,2005-06-14 20:44:53,dejan@ca.ibm.com
7,RESOLVED,100001,NEW,status,2005-06-14 21:26:05,dejan@ca.ibm.com
8,FIXED,100001,NaN,resolution,2005-06-14 21:26:05,dejan@ca.ibm.com
9,david_audel@fr.ibm.com,100002,jdt-core-inbox@eclipse.org,assigned_to,2006-10-06 19:42:16,Olivier_Thomann@ca.ibm.com
10,RESOLVED,100004,NEW,status,2005-06-14 16:32:08,dirk_baeumer@ch.ibm.com
11,DUPLICATE,100004,NaN,resolution,2005-06-14 16:32:08,dirk_baeumer@ch.ibm.com
12,ClassCastException using array object as gener...,100007,Internal compiler error using array object as ...,summary,2005-06-14 18:31:55,Olivier_Thomann@ca.ibm.com
13,philippe_mulet@fr.ibm.com,100007,jdt-core-inbox@eclipse.org,assigned_to,2005-06-14 23:05:59,philippe_mulet@fr.ibm.com
14,3.1 RC3,100007,---,target_milestone,2005-06-14 23:05:59,philippe_mulet@fr.ibm.com
15,daniel_megert@ch.ibm.com,100007,NaN,cc,2005-06-15 08:47:35,philippe_mulet@fr.ibm.com
16,[1.5][compiler] ClassCastException using array...,100007,ClassCastException using array object as gener...,summary,2005-06-15 08:48:39,philippe_mulet@fr.ibm.com
17,RESOLVED,100007,NEW,status,2005-06-15 09:33:28,philippe_mulet@fr.ibm.com
18,FIXED,100007,NaN,resolution,2005-06-15 09:33:28,philippe_mulet@fr.ibm.com
19,VERIFIED,100007,RESOLVED,status,2005-06-16 18:26:01,Olivier_Thomann@ca.ibm.com
20,tom_eicher@ch.ibm.com,100009,NaN,cc,2005-06-14 22:02:15,daniel_megert@ch.ibm.com
21,[content assist] Content assist uses generic p...,100009,Content assist uses generic parameter name arg...,summary,2005-06-14 22:02:38,daniel_megert@ch.ibm.com
22,jdt-core-inbox@eclipse.org,100009,jdt-text-inbox@eclipse.org,assigned_to,2005-06-15 06:40:08,eclipse@tom.hofmann.name
23,Core,100009,Text,component,2005-06-15 06:40:08,eclipse@tom.hofmann.name
24,[assist] Content assist uses generic parameter...,100009,[content assist] Content assist uses generic p...,summary,2005-06-15 06:40:08,eclipse@tom.hofmann.name
25,daniel_megert@ch.ibm.com,100009,NaN,cc,2005-06-15 07:38:37,daniel_megert@ch.ibm.com
26,david_audel@fr.ibm.com,100009,jdt-core-inbox@eclipse.org,assigned_to,2005-06-15 11:39:18,david_audel@fr.ibm.com
27,dirk_baeumer@ch.ibm.com,100009,NaN,cc,2005-06-21 11:08:14,jerome_lanneluc@fr.ibm.com
28,3.1.1,100009,---,target_milestone,2005-06-21 13:01:25,philippe_mulet@fr.ibm.com
29,3.1 RC4,100009,3.1.1,target_milestone,2005-06-21 13:33:48,philippe_mulet@fr.ibm.com
...,...,...,...,...,...,...
1124312,ASSIGNED,432894,NaN,status,2014-04-16 17:00:39,tjwatson@us.ibm.com
1124313,ASSIGNED,433023,NaN,status,2014-04-17 16:07:44,tjwatson@us.ibm.com
1124314,ASSIGNED,434605,NaN,status,2014-05-12 16:00:25,pascal.rapicault@ericsson.com
1124315,ASSIGNED,434662,NaN,status,2014-05-12 15:51:28,pascal.rapicault@ericsson.com
1124316,ASSIGNED,435407,NaN,status,2014-06-04 13:36:11,Vikas.Chandra@in.ibm.com
1124317,ASSIGNED,436073,NaN,status,2014-05-28 19:30:08,tjwatson@us.ibm.com
1124318,ASSIGNED,436082,NaN,status,2014-05-28 15:36:44,tjwatson@us.ibm.com
1124319,ASSIGNED,436485,NaN,status,2014-06-03 16:09:07,arunkumar.thondapu@in.ibm.com
1124320,ASSIGNED,436698,NaN,status,2014-08-07 18:59:11,tjwatson@us.ibm.com
1124321,ASSIGNED,436698,NaN,status,2014-10-22 15:20:41,raymond.auge@liferay.com
1124322,ASSIGNED,441098,NaN,status,2015-02-20 17:45:14,pascal@rapicorp.com
1124323,ASSIGNED,441848,NaN,status,2014-08-15 08:46:03,tjwatson@us.ibm.com
1124324,ASSIGNED,442641,NaN,status,2014-08-28 13:09:22,equinox.framework-inbox@eclipse.org
1124325,ASSIGNED,442641,NaN,status,2014-08-28 16:51:22,tjwatson@us.ibm.com
1124326,ASSIGNED,443527,NaN,status,2014-09-09 11:23:06,arunkumar.thondapu@in.ibm.com
1124327,ASSIGNED,445660,NaN,status,2014-10-01 13:30:36,tjwatson@us.ibm.com
1124328,ASSIGNED,449990,NaN,status,2015-01-28 13:35:15,arunkumar.thondapu@in.ibm.com
1124329,ASSIGNED,454911,NaN,status,2015-02-03 19:51:48,tjwatson@us.ibm.com
1124330,ASSIGNED,460633,NaN,status,2015-04-01 00:55:17,equinox.framework-inbox@eclipse.org
1124331,ASSIGNED,460633,NaN,status,2015-04-01 13:50:58,tjwatson@us.ibm.com
1124332,ASSIGNED,460637,NaN,status,2015-02-23 20:56:22,tjwatson@us.ibm.com
1124333,ASSIGNED,466755,NaN,status,2015-07-30 18:11:56,tjwatson@us.ibm.com
1124334,ASSIGNED,466755,NaN,status,2015-07-30 18:22:07,equinox.framework-inbox@eclipse.org
1124335,ASSIGNED,475760,NaN,status,2015-08-25 14:07:09,tjwatson@us.ibm.com
1124336,ASSIGNED,483665,NaN,status,2015-12-04 14:27:12,tjwatson@us.ibm.com
1124337,ASSIGNED,485692,NaN,status,2016-01-14 18:36:13,tjwatson@us.ibm.com
1124338,ASSIGNED,509648,NaN,status,2016-12-22 14:53:38,Lars.Vogel@vogella.com
1124339,ASSIGNED,515303,NaN,status,2017-04-17 03:26:28,sarika.sinha@in.ibm.com
1124340,ASSIGNED,526655,NaN,status,2017-10-30 19:07:09,loskutov@gmx.de
1124341,ASSIGNED,526663,NaN,status,2017-10-30 21:12:21,loskutov@gmx.de

In [28]:
bug_versions

            id         source     version                when
139852    2382    bug history         2.0 2009-11-02 17:04:45
132067    2382  version field         3.6                 NaT
140899    2802    bug history         2.0 2006-12-07 14:30:43
18483     2802  version field         3.3                 NaT
142200    3091    bug history         2.0 2004-05-17 16:22:02
132068    3091  version field         3.0                 NaT
142287    3109    bug history         2.0 2012-12-31 14:55:50
132069    3109  version field  3.8.0 Juno                 NaT
147230    4745    bug history         2.0 2017-06-28 14:29:39
33037     4745  version field         4.8                 NaT
147324    4808    bug history         2.0 2004-06-28 15:43:36
33038     4808  version field         3.0                 NaT
148465    5875    bug history         2.0 2006-11-07 18:50:02
132070    5875  version field         3.0                 NaT
148503    6465    bug history         2.0 2004-03-09 14:32:02
100288    6465  version field         3.0                 NaT
148831    9168    bug history         2.0 2007-02-14 14:56:30
132071    9168  version field         3.0                 NaT
148855    9355    bug history         2.0 2003-10-03 18:38:34
63274     9355  version field         3.0                 NaT
63275     9809  version field         3.2                 NaT
138681   11407    bug history         2.0 2005-04-06 18:32:07
75136    11407  version field         3.1                 NaT
138770   12475    bug history         2.0 2004-06-04 21:02:07
75137    12475  version field         3.0                 NaT
138815   13000    bug history         2.0 2006-06-14 15:30:51
53915    13000  version field         3.2                 NaT
139257   18130    bug history         2.0 2006-06-14 15:30:51
6137     18130  version field         3.2                 NaT
139305   18608    bug history         2.0 2004-04-12 21:00:47
...        ...            ...         ...                 ...
124499  544444  version field        4.10                 NaT
84861   544451  version field         4.8                 NaT
84862   544458  version field         4.9                 NaT
124500  544472  version field        4.10                 NaT
84863   544481  version field       4.7.1                 NaT
26233   544515  version field        4.10                 NaT
26234   544518  version field        4.10                 NaT
148400  544520    bug history        4.11 2019-02-20 11:42:03
26235   544520  version field         4.7                 NaT
84864   544523  version field         4.9                 NaT
26236   544528  version field       3.8.2                 NaT
148401  544528    bug history        4.11 2019-02-18 12:18:11
124501  544531  version field       3.8.2                 NaT
124502  544541  version field        4.10                 NaT
26237   544554  version field         4.9                 NaT
84865   544556  version field         4.9                 NaT
84866   544560  version field         4.9                 NaT
26238   544565  version field        4.10                 NaT
26239   544573  version field         4.9                 NaT
84867   544578  version field        4.10                 NaT
84868   544601  version field         4.9                 NaT
26240   544602  version field        4.10                 NaT
84869   544607  version field        4.10                 NaT
26241   544611  version field        4.10                 NaT
84870   544640  version field        4.10                 NaT
26242   544647  version field        4.10                 NaT
148402  544656    bug history        4.10 2019-02-21 09:34:47
84871   544656  version field         4.7                 NaT
900     545107  version field       4.7.1                 NaT
901     545137  version field        4.10                 NaT

[148946 rows x 4 columns]

In [29]:
version_buglist=df_all[df_all['what']=='version'].id.unique()
version_bugs=df_all[df_all['id'].isin(version_buglist)]
only_version_bugs=version_bugs[version_bugs['what']=='version']

version_bugs_grouped=only_version_bugs[['id','removed','when']].rename(index=str,columns={'removed':'version'})

version_bugs_grouped['source'] = 'bug history'

bug_versions = bug_versions.append(version_bugs_grouped,ignore_index=True)

version_bugs_grouped=only_version_bugs[['id','added','when']].rename(index=str,columns={'added':'version'})
version_bugs_grouped['source'] = 'bug history'

bug_versions = bug_versions.append(version_bugs_grouped,ignore_index=True)

bug_versions = bug_versions.drop_duplicates()
bug_versions.head()

     id         source version                when
0  2382    bug history     2.0 2009-11-02 17:04:45
1  2382  version field     3.6                 NaT
2  2802    bug history     2.0 2006-12-07 14:30:43
3  2802  version field     3.3                 NaT
4  3091    bug history     2.0 2004-05-17 16:22:02

In [30]:
#if a version exists both because of the version field and the bug history, only keep the version field entry
bug_versions = bug_versions.sort_values(by=['id','version','source'])
bug_versions = bug_versions.drop_duplicates(['id','version'],keep='last')
bug_versions

            id         source     version                when
0         2382    bug history         2.0 2009-11-02 17:04:45
1         2382  version field         3.6                 NaT
2         2802    bug history         2.0 2006-12-07 14:30:43
3         2802  version field         3.3                 NaT
4         3091    bug history         2.0 2004-05-17 16:22:02
5         3091  version field         3.0                 NaT
6         3109    bug history         2.0 2012-12-31 14:55:50
7         3109  version field  3.8.0 Juno                 NaT
8         4745    bug history         2.0 2017-06-28 14:29:39
9         4745  version field         4.8                 NaT
10        4808    bug history         2.0 2004-06-28 15:43:36
11        4808  version field         3.0                 NaT
12        5875    bug history         2.0 2006-11-07 18:50:02
13        5875  version field         3.0                 NaT
14        6465    bug history         2.0 2004-03-09 14:32:02
15        6465  version field         3.0                 NaT
16        9168    bug history         2.0 2007-02-14 14:56:30
17        9168  version field         3.0                 NaT
18        9355    bug history         2.0 2003-10-03 18:38:34
19        9355  version field         3.0                 NaT
20        9809  version field         3.2                 NaT
21       11407    bug history         2.0 2005-04-06 18:32:07
22       11407  version field         3.1                 NaT
23       12475    bug history         2.0 2004-06-04 21:02:07
24       12475  version field         3.0                 NaT
25       13000    bug history         2.0 2006-06-14 15:30:51
26       13000  version field         3.2                 NaT
27       18130    bug history         2.0 2006-06-14 15:30:51
28       18130  version field         3.2                 NaT
29       18608    bug history         2.0 2004-04-12 21:00:47
...        ...            ...         ...                 ...
148916  544444  version field        4.10                 NaT
148917  544451  version field         4.8                 NaT
148918  544458  version field         4.9                 NaT
148919  544472  version field        4.10                 NaT
148920  544481  version field       4.7.1                 NaT
148921  544515  version field        4.10                 NaT
148922  544518  version field        4.10                 NaT
148923  544520    bug history        4.11 2019-02-20 11:42:03
148924  544520  version field         4.7                 NaT
148925  544523  version field         4.9                 NaT
148926  544528  version field       3.8.2                 NaT
148927  544528    bug history        4.11 2019-02-18 12:18:11
148928  544531  version field       3.8.2                 NaT
148929  544541  version field        4.10                 NaT
148930  544554  version field         4.9                 NaT
148931  544556  version field         4.9                 NaT
148932  544560  version field         4.9                 NaT
148933  544565  version field        4.10                 NaT
148934  544573  version field         4.9                 NaT
148935  544578  version field        4.10                 NaT
148936  544601  version field         4.9                 NaT
148937  544602  version field        4.10                 NaT
148938  544607  version field        4.10                 NaT
148939  544611  version field        4.10                 NaT
148940  544640  version field        4.10                 NaT
148941  544647  version field        4.10                 NaT
148942  544656    bug history        4.10 2019-02-21 09:34:47
148943  544656  version field         4.7                 NaT
148944  545107  version field       4.7.1                 NaT
148945  545137  version field        4.10                 NaT

[148946 rows x 4 columns]

In [31]:
bug_versions.version.unique()

array(['2.0', '3.6', '3.3', '3.0', '3.8.0 Juno', '4.8', '3.2', '3.1',
       'unspecified', '2.1.2', '3.5', '2.1', '2.0.2', '1.0', '1.1',
       '2.1.1', '1.2', '3.1.2', '3.8', '3.0.1', '3.4', '2.1.3', '1.1.3',
       '2.0.1', '3.7', '1.0.0', '3.0.2', '4.0', '3.1.1', '4.7', '0.7',
       '3.2.1', '2.2', '4.4', '4.5.1', '3.2.2', '4.1', '4.4.2', '1.3.0',
       '1.5', '1.0.1', '3.4.1', '1.0.2', '4.2', '2.0.0', '3.3.1', '0.7.1',
       '0.9', '4.2.2', '2.1.0', '3.6.1', '4.3', '0.2', '0.6', '0.8',
       '4.5', '1.2.1', '1.5.2', '3.3.2', '1.5.3', '0.1.3', '1.5.4',
       '4.0.1', '4.6', '3.4.2', '4.0.2', '2.4.0', '1.5.5', 'dev', '2.3.0',
       '2.3', '5.0', '4.0.3', '3.5.1', '1.3.1', '3.0.3', '2.5.0', '3.6.2',
       '2.3.1', '1.0.3', '3.5.2', '5.0.1', '2008-Ganymede', '0.1', '6.0',
       'DD 1.1', '5.0.2', '3.0.0', '1.6.4', '0.9.2', '1.7', '1.1.0',
       '3.7.2', '1.2.0', 'Europa', 'Galileo', '1.7.1', '1.8', '4.2.1',
       '3.8.1', '0.8.0', '6.0.2', '2.6.0', '0 DD 1.1', '3.8.2', '7.0',
       '3.7.1', '4.3.1', '4.3.2', '3.0.5', '2.2.1', '8.0', '0.5', '7.0.1',
       '2.7.0', '3.0.0.M01', '2.6.2', '4.5.0 Mars', '0.12', '4.4.1',
       '0.13.0', 'Next', '0.3', '2.6.1', '2.8.0', '8.1.0', '1.4.0',
       '8.0.2', '-', '4.2.0', '3.7.0', '3.8.1 Juno', '3.10.0 Luna',
       '3.9.0 Kepler', '3.8.2 Juno', '3.9', '7.0.2', '8.1.1', '4.3.0',
       '0.11', '1.3', '0.13', '2.4.1', '0.14', '4.5.2', '2.4.2', '8.2',
       '1.1.1', '1.4', '2.4.3', '0.15', '4.4.0', '4.11', '3.10.1 Luna',
       '8.3.0', '3.11', '8.5', '4.6.0 Neon', '8.4.0', '0.1.0', '0.21.0',
       '0.17', '2.1.11', '4.5.0', '4.8.0 Photon', 'unreleased', '4.7.1a',
       '9', '0.2.0', '3.5.0', '8.6.0', '3.13', '3.14', '0.22.0', '2.1.13',
       '3.10.0', '4.7.0 Oxygen', '3.16', '8.7.0', '8.8.0', '2.2.0', '4.9',
       '0 DD 0.9', '4.10', '2.8.4', '2.9.0', '0.12.0', '4.7.1', '0.24.0',
       '1.8 M1', '3.18', '1.10', '4.0.0', '9.0.0', '1.7.0', '3.19',
       '4.6.0', '4.6.1', '3.11.0', '1.0.21', '8.8.1', '9.2.0', '9.3.0',
       '2.11.0', '4.6.3', '1.8.0', '5.0.0', '3.9 (Oxygen)', '4.9.1',
       '2.4.10', '1.8.1', '4.7.2', '4.7.0', '9.3.2', '9.4.2', '1.9.0',
       '4.7.3', '9.5.0', '1.5.0', '5.9', '1.9.1', '2.12.0', '5.1',
       '3.10 (Photon)', '5.2'], dtype=object)

In [33]:
#filter 1: fix names that we know the number for, e.g., Galileo
bug_versions.loc[bug_versions['version']=='Europa','version'] = '3.3'
bug_versions.loc[bug_versions['version']=='2008-Ganymede','version'] = '3.4'
bug_versions.loc[bug_versions['version']=='Galileo','version'] = '3.5'

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [34]:
#filter 2: 
bug_versions = bug_versions[bug_versions['version'].str.find('.')>=0]
bug_versions.head()

     id         source version                when
0  2382    bug history     2.0 2009-11-02 17:04:45
1  2382  version field     3.6                 NaT
2  2802    bug history     2.0 2006-12-07 14:30:43
3  2802  version field     3.3                 NaT
4  3091    bug history     2.0 2004-05-17 16:22:02

In [35]:
bug_versions.version.unique()

array(['2.0', '3.6', '3.3', '3.0', '3.8.0 Juno', '4.8', '3.2', '3.1',
       '2.1.2', '3.5', '2.1', '2.0.2', '1.0', '1.1', '2.1.1', '1.2',
       '3.1.2', '3.8', '3.0.1', '3.4', '2.1.3', '1.1.3', '2.0.1', '3.7',
       '1.0.0', '3.0.2', '4.0', '3.1.1', '4.7', '0.7', '3.2.1', '2.2',
       '4.4', '4.5.1', '3.2.2', '4.1', '4.4.2', '1.3.0', '1.5', '1.0.1',
       '3.4.1', '1.0.2', '4.2', '2.0.0', '3.3.1', '0.7.1', '0.9', '4.2.2',
       '2.1.0', '3.6.1', '4.3', '0.2', '0.6', '0.8', '4.5', '1.2.1',
       '1.5.2', '3.3.2', '1.5.3', '0.1.3', '1.5.4', '4.0.1', '4.6',
       '3.4.2', '4.0.2', '2.4.0', '1.5.5', '2.3.0', '2.3', '5.0', '4.0.3',
       '3.5.1', '1.3.1', '3.0.3', '2.5.0', '3.6.2', '2.3.1', '1.0.3',
       '3.5.2', '5.0.1', '0.1', '6.0', 'DD 1.1', '5.0.2', '3.0.0',
       '1.6.4', '0.9.2', '1.7', '1.1.0', '3.7.2', '1.2.0', '1.7.1', '1.8',
       '4.2.1', '3.8.1', '0.8.0', '6.0.2', '2.6.0', '0 DD 1.1', '3.8.2',
       '7.0', '3.7.1', '4.3.1', '4.3.2', '3.0.5', '2.2.1', '8.0', '0.5',
       '7.0.1', '2.7.0', '3.0.0.M01', '2.6.2', '4.5.0 Mars', '0.12',
       '4.4.1', '0.13.0', '0.3', '2.6.1', '2.8.0', '8.1.0', '1.4.0',
       '8.0.2', '4.2.0', '3.7.0', '3.8.1 Juno', '3.10.0 Luna',
       '3.9.0 Kepler', '3.8.2 Juno', '3.9', '7.0.2', '8.1.1', '4.3.0',
       '0.11', '1.3', '0.13', '2.4.1', '0.14', '4.5.2', '2.4.2', '8.2',
       '1.1.1', '1.4', '2.4.3', '0.15', '4.4.0', '4.11', '3.10.1 Luna',
       '8.3.0', '3.11', '8.5', '4.6.0 Neon', '8.4.0', '0.1.0', '0.21.0',
       '0.17', '2.1.11', '4.5.0', '4.8.0 Photon', '4.7.1a', '0.2.0',
       '3.5.0', '8.6.0', '3.13', '3.14', '0.22.0', '2.1.13', '3.10.0',
       '4.7.0 Oxygen', '3.16', '8.7.0', '8.8.0', '2.2.0', '4.9',
       '0 DD 0.9', '4.10', '2.8.4', '2.9.0', '0.12.0', '4.7.1', '0.24.0',
       '1.8 M1', '3.18', '1.10', '4.0.0', '9.0.0', '1.7.0', '3.19',
       '4.6.0', '4.6.1', '3.11.0', '1.0.21', '8.8.1', '9.2.0', '9.3.0',
       '2.11.0', '4.6.3', '1.8.0', '5.0.0', '3.9 (Oxygen)', '4.9.1',
       '2.4.10', '1.8.1', '4.7.2', '4.7.0', '9.3.2', '9.4.2', '1.9.0',
       '4.7.3', '9.5.0', '1.5.0', '5.9', '1.9.1', '2.12.0', '5.1',
       '3.10 (Photon)', '5.2'], dtype=object)

In [36]:
#fix abnormal values because we might miss closest minor releases
for versioninit in bug_versions.version.unique().tolist():
    version = versioninit
    if ' ' in version:
        if '.' not in version[:version.find(' ')]:
            continue
        else:
            version = version[:version.find(' ')]
            bug_versions.loc[bug_versions['version']==versioninit,'version'] = version

bug_versions.version.unique()

array(['2.0', '3.6', '3.3', '3.0', '3.8.0', '4.8', '3.2', '3.1', '2.1.2',
       '3.5', '2.1', '2.0.2', '1.0', '1.1', '2.1.1', '1.2', '3.1.2',
       '3.8', '3.0.1', '3.4', '2.1.3', '1.1.3', '2.0.1', '3.7', '1.0.0',
       '3.0.2', '4.0', '3.1.1', '4.7', '0.7', '3.2.1', '2.2', '4.4',
       '4.5.1', '3.2.2', '4.1', '4.4.2', '1.3.0', '1.5', '1.0.1', '3.4.1',
       '1.0.2', '4.2', '2.0.0', '3.3.1', '0.7.1', '0.9', '4.2.2', '2.1.0',
       '3.6.1', '4.3', '0.2', '0.6', '0.8', '4.5', '1.2.1', '1.5.2',
       '3.3.2', '1.5.3', '0.1.3', '1.5.4', '4.0.1', '4.6', '3.4.2',
       '4.0.2', '2.4.0', '1.5.5', '2.3.0', '2.3', '5.0', '4.0.3', '3.5.1',
       '1.3.1', '3.0.3', '2.5.0', '3.6.2', '2.3.1', '1.0.3', '3.5.2',
       '5.0.1', '0.1', '6.0', 'DD 1.1', '5.0.2', '3.0.0', '1.6.4',
       '0.9.2', '1.7', '1.1.0', '3.7.2', '1.2.0', '1.7.1', '1.8', '4.2.1',
       '3.8.1', '0.8.0', '6.0.2', '2.6.0', '0 DD 1.1', '3.8.2', '7.0',
       '3.7.1', '4.3.1', '4.3.2', '3.0.5', '2.2.1', '8.0', '0.5', '7.0.1',
       '2.7.0', '3.0.0.M01', '2.6.2', '4.5.0', '0.12', '4.4.1', '0.13.0',
       '0.3', '2.6.1', '2.8.0', '8.1.0', '1.4.0', '8.0.2', '4.2.0',
       '3.7.0', '3.10.0', '3.9.0', '3.9', '7.0.2', '8.1.1', '4.3.0',
       '0.11', '1.3', '0.13', '2.4.1', '0.14', '4.5.2', '2.4.2', '8.2',
       '1.1.1', '1.4', '2.4.3', '0.15', '4.4.0', '4.11', '3.10.1',
       '8.3.0', '3.11', '8.5', '4.6.0', '8.4.0', '0.1.0', '0.21.0',
       '0.17', '2.1.11', '4.8.0', '4.7.1a', '0.2.0', '3.5.0', '8.6.0',
       '3.13', '3.14', '0.22.0', '2.1.13', '4.7.0', '3.16', '8.7.0',
       '8.8.0', '2.2.0', '4.9', '0 DD 0.9', '4.10', '2.8.4', '2.9.0',
       '0.12.0', '4.7.1', '0.24.0', '3.18', '1.10', '4.0.0', '9.0.0',
       '1.7.0', '3.19', '4.6.1', '3.11.0', '1.0.21', '8.8.1', '9.2.0',
       '9.3.0', '2.11.0', '4.6.3', '1.8.0', '5.0.0', '4.9.1', '2.4.10',
       '1.8.1', '4.7.2', '9.3.2', '9.4.2', '1.9.0', '4.7.3', '9.5.0',
       '1.5.0', '5.9', '1.9.1', '2.12.0', '5.1', '3.10', '5.2'],
      dtype=object)

In [37]:
bug_versions['release'] = bug_versions.apply(lambda x: assign_to_closest_minor(str(x['version'])),axis=1)
bug_versions['release'] = bug_versions['release'].astype(str)
bug_versions

            id         source version                when release
0         2382    bug history     2.0 2009-11-02 17:04:45     2.0
1         2382  version field     3.6                 NaT     3.6
2         2802    bug history     2.0 2006-12-07 14:30:43     2.0
3         2802  version field     3.3                 NaT     3.3
4         3091    bug history     2.0 2004-05-17 16:22:02     2.0
5         3091  version field     3.0                 NaT     3.0
6         3109    bug history     2.0 2012-12-31 14:55:50     2.0
7         3109  version field   3.8.0                 NaT     4.2
8         4745    bug history     2.0 2017-06-28 14:29:39     2.0
9         4745  version field     4.8                 NaT     4.8
10        4808    bug history     2.0 2004-06-28 15:43:36     2.0
11        4808  version field     3.0                 NaT     3.0
12        5875    bug history     2.0 2006-11-07 18:50:02     2.0
13        5875  version field     3.0                 NaT     3.0
14        6465    bug history     2.0 2004-03-09 14:32:02     2.0
15        6465  version field     3.0                 NaT     3.0
16        9168    bug history     2.0 2007-02-14 14:56:30     2.0
17        9168  version field     3.0                 NaT     3.0
18        9355    bug history     2.0 2003-10-03 18:38:34     2.0
19        9355  version field     3.0                 NaT     3.0
20        9809  version field     3.2                 NaT     3.2
21       11407    bug history     2.0 2005-04-06 18:32:07     2.0
22       11407  version field     3.1                 NaT     3.1
23       12475    bug history     2.0 2004-06-04 21:02:07     2.0
24       12475  version field     3.0                 NaT     3.0
25       13000    bug history     2.0 2006-06-14 15:30:51     2.0
26       13000  version field     3.2                 NaT     3.2
27       18130    bug history     2.0 2006-06-14 15:30:51     2.0
28       18130  version field     3.2                 NaT     3.2
29       18608    bug history     2.0 2004-04-12 21:00:47     2.0
...        ...            ...     ...                 ...     ...
148916  544444  version field    4.10                 NaT    4.10
148917  544451  version field     4.8                 NaT     4.8
148918  544458  version field     4.9                 NaT     4.9
148919  544472  version field    4.10                 NaT    4.10
148920  544481  version field   4.7.1                 NaT     4.7
148921  544515  version field    4.10                 NaT    4.10
148922  544518  version field    4.10                 NaT    4.10
148923  544520    bug history    4.11 2019-02-20 11:42:03    4.11
148924  544520  version field     4.7                 NaT     4.7
148925  544523  version field     4.9                 NaT     4.9
148926  544528  version field   3.8.2                 NaT     4.2
148927  544528    bug history    4.11 2019-02-18 12:18:11    4.11
148928  544531  version field   3.8.2                 NaT     4.2
148929  544541  version field    4.10                 NaT    4.10
148930  544554  version field     4.9                 NaT     4.9
148931  544556  version field     4.9                 NaT     4.9
148932  544560  version field     4.9                 NaT     4.9
148933  544565  version field    4.10                 NaT    4.10
148934  544573  version field     4.9                 NaT     4.9
148935  544578  version field    4.10                 NaT    4.10
148936  544601  version field     4.9                 NaT     4.9
148937  544602  version field    4.10                 NaT    4.10
148938  544607  version field    4.10                 NaT    4.10
148939  544611  version field    4.10                 NaT    4.10
148940  544640  version field    4.10                 NaT    4.10
148941  544647  version field    4.10                 NaT    4.10
148942  544656    bug history    4.10 2019-02-21 09:34:47    4.10
148943  544656  version field     4.7                 NaT     4.7
148944  545107  version field   4.7.1                 NaT     4.7
148945  545137  version field    4.10                 NaT    4.10

[147194 rows x 5 columns]

In [28]:
bug_versions.head()

          id version         source release
139852  2382     2.0    bug history     2.0
132067  2382     3.6  version field     3.6
140899  2802     2.0    bug history     2.0
18483   2802     3.3  version field     3.3
142200  3091     2.0    bug history     2.0

In [38]:
print('Current releases:'+str(sorted(bug_versions.release.unique().tolist())))

Current releases:['0 DD 0.9', '0 DD 1.1', '0.1', '0.11', '0.12', '0.13', '0.14', '0.15', '0.17', '0.2', '0.21', '0.22', '0.24', '0.3', '0.5', '0.6', '0.7', '0.8', '0.9', '1.0', '1.1', '1.10', '1.2', '1.3', '1.4', '1.5', '1.6', '1.7', '1.8', '1.9', '2.0', '2.1', '2.11', '2.12', '2.2', '2.3', '2.4', '2.5', '2.6', '2.7', '2.8', '2.9', '3.0', '3.1', '3.10', '3.11', '3.13', '3.14', '3.16', '3.18', '3.19', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7', '3.9', '4.0', '4.1', '4.10', '4.11', '4.2', '4.3', '4.4', '4.5', '4.6', '4.7', '4.8', '4.9', '5.0', '5.1', '5.2', '5.9', '6.0', '7.0', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5', '8.6', '8.7', '8.8', '9.0', '9.2', '9.3', '9.4', '9.5', 'DD 1.1']

In [39]:
#filter 3: exclude the releases not in our study
bug_versions = bug_versions[bug_versions['release'].isin(relase_creation_ts_all)]
print('After filtering releases:'+str(sorted(bug_versions.release.unique().tolist())))

After filtering releases:['3.0', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7', '4.10', '4.2', '4.3', '4.4', '4.5', '4.6', '4.7', '4.8', '4.9']

In [46]:
len(bug_versions[bug_versions['source']!='version field'].id.unique())

4160

In [ ]:
counter1=0
counter2=0
for bid in bug_versions[bug_versions['source']!='version field'].id.unique():
    try:
        version_field_release = bug_versions[(bug_versions['id']==bid )& (bug_versions['source']=='version field')].release.values.tolist()[0]
    except:
        continue
    history_values = bug_versions[(bug_versions['id']==bid )& (bug_versions['source']=='bug history')].release.values.tolist()
    
    major_change = [x for x in history_values if x!=version_field_release]
    if len(major_change)>0:
        counter1+=1
        rf = version_field_release[:1]
        ff = [x for x in major_change if x[:1]==rf]
        if len(ff)>0:
            counter2+=1
print('counter1='+str(counter1))
print('counter1='+str(counter2))

In [73]:
df_bugs[df_bugs['id'].isin(sbugs)].sort_values(by='id')

,id,release,Product,creation_time,version,resolution,is_assigned,is_resolved,is_fixed,first_assignment_date,last_assignment_date,first_resolved_date,last_resolved_date,first_fixed_date,last_fixed_date,time_assign_diff,time_resolve_diff,time_fix_diff
110228,39064,3.2,JDT,2003-06-18 12:31:08,3.2,WORKSFORME,0,1,0,NaT,NaT,2006-05-24 20:37:12,2006-05-24 20:37:12,NaT,NaT,NaN,0.0,NaN
110272,39447,3.2,JDT,2003-06-27 23:00:00,3.2,INVALID,0,1,0,NaT,NaT,2006-05-24 20:43:42,2006-05-24 20:44:21,NaT,NaT,NaN,0.0,NaN
133913,39593,3.3,Equinox,2003-07-03 11:45:13,3.3,WONTFIX,0,1,0,NaT,NaT,2010-04-12 14:35:01,2010-04-12 14:35:01,NaT,NaT,NaN,0.0,NaN
87328,39955,3.2,JDT,2003-07-11 19:16:14,3.2,WONTFIX,0,1,0,NaT,NaT,2006-05-24 20:48:08,2006-05-24 20:48:08,NaT,NaT,NaN,0.0,NaN
87652,41618,3.2,JDT,2003-08-15 15:44:16,3.2,WONTFIX,0,1,0,NaT,NaT,2006-05-24 19:54:21,2006-05-30 08:34:55,NaT,NaT,NaN,5.0,NaN
87660,41652,3.2,JDT,2003-08-18 15:53:50,3.2,FIXED,0,1,1,NaT,NaT,2006-05-24 20:49:55,2006-05-24 20:49:55,2006-05-24 20:49:55,2006-05-24 20:49:55,NaN,0.0,0.0
87704,41858,3.2,JDT,2003-08-22 13:49:27,3.2,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
87707,41871,3.2,JDT,2003-08-22 17:08:49,3.2,WONTFIX,0,1,0,NaT,NaT,2006-05-24 20:52:21,2006-05-24 20:52:21,NaT,NaT,NaN,0.0,NaN
85549,43136,3.2,JDT,2003-09-16 09:25:04,3.2,WORKSFORME,0,1,0,NaT,NaT,2006-05-24 20:57:49,2006-05-24 20:57:49,NaT,NaT,NaN,0.0,NaN
10016,43386,3.1,Platform,2003-09-19 21:45:19,3.1.2,FIXED,0,1,1,NaT,NaT,2004-10-18 19:40:51,2007-04-13 16:49:18,2004-10-18 19:40:51,2007-04-13 16:49:18,NaN,906.0,906.0
44946,46339,3.2,Platform,2003-11-10 14:58:47,3.2,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
92376,47354,3.0,JDT,2003-11-24 15:51:54,3.0,NaN,1,1,0,2003-12-09 12:44:43,2003-12-09 12:44:43,2004-05-14 16:08:24,2004-05-14 16:08:24,NaT,NaT,0.0,0.0,NaN
92392,47403,3.2,JDT,2003-11-25 11:55:25,3.2,WONTFIX,0,1,0,NaT,NaT,2006-05-24 21:01:33,2006-05-24 21:01:33,NaT,NaT,NaN,0.0,NaN
92817,49557,3.2,JDT,2004-01-06 04:12:45,3.2,FIXED,1,1,1,2006-09-15 16:45:59,2006-09-15 16:45:59,2008-05-13 14:42:42,2008-05-13 14:42:42,2008-05-13 14:42:42,2008-05-13 14:42:42,0.0,0.0,0.0
61036,50215,3.0,Platform,2004-01-19 15:34:54,3.0.1,DUPLICATE,0,1,0,NaT,NaT,2005-05-09 18:45:08,2005-06-06 15:25:56,NaT,NaT,NaN,27.0,NaN
61094,50362,3.0,Platform,2004-01-21 22:40:07,3.0,FIXED,0,1,1,NaT,NaT,2004-01-21 23:47:54,2005-04-26 17:40:42,2004-01-21 23:47:54,2005-04-26 17:40:42,NaN,460.0,460.0
101422,51151,3.2,JDT,2004-02-04 09:18:04,3.2,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
73643,51580,3.3,Platform,2004-02-11 03:11:47,3.3,FIXED,1,1,1,2004-05-07 15:55:57,2004-05-07 15:55:57,2007-08-27 19:47:06,2007-08-27 19:47:06,2007-08-27 19:47:06,2007-08-27 19:47:06,0.0,0.0,0.0
101720,52802,3.2,JDT,2004-02-23 10:41:01,3.2,DUPLICATE,0,1,0,NaT,NaT,2006-05-24 21:06:22,2006-05-24 21:06:22,NaT,NaT,NaN,0.0,NaN
114181,56447,3.2,JDT,2004-03-27 10:22:30,3.2,WONTFIX,0,1,0,NaT,NaT,2006-05-24 21:22:22,2006-05-24 21:22:22,NaT,NaT,NaN,0.0,NaN
26920,57017,3.2,Platform,2004-04-01 09:26:43,3.2,WONTFIX,0,1,0,NaT,NaT,2017-12-06 13:47:47,2017-12-06 13:47:47,NaT,NaT,NaN,0.0,NaN
133926,57349,3.6,Equinox,2004-04-03 09:36:48,3.6,FIXED,1,1,1,2005-06-01 00:54:55,2009-02-20 15:04:52,2005-09-14 14:22:39,2012-05-29 18:52:59,2012-05-29 18:52:59,2012-05-29 18:52:59,1360.0,2449.0,0.0
114335,57570,3.2,JDT,2004-04-06 13:43:12,3.2,DUPLICATE,0,1,0,NaT,NaT,2006-05-24 21:23:45,2006-05-24 21:23:45,NaT,NaT,NaN,0.0,NaN
119361,57699,3.1,PDE,2004-04-07 06:31:35,3.1,FIXED,0,1,1,NaT,NaT,2006-06-20 19:53:26,2006-06-20 19:53:26,2006-06-20 19:53:26,2006-06-20 19:53:26,NaN,0.0,0.0
27371,58185,3.1,Platform,2004-04-12 19:16:27,3.1,FIXED,0,1,1,NaT,NaT,2004-10-04 15:36:39,2005-01-22 15:59:46,2004-10-04 15:36:39,2005-01-22 15:59:46,NaN,110.0,110.0
27374,58194,3.1,Platform,2004-04-12 20:06:15,3.1,INVALID,0,1,0,NaT,NaT,2004-11-01 20:49:03,2004-11-01 20:49:03,NaT,NaT,NaN,0.0,NaN
20810,59342,3.2,Platform,2004-04-20 20:30:16,3.2,WORKSFORME,0,1,0,NaT,NaT,2007-12-18 19:49:00,2007-12-18 19:49:00,NaT,NaT,NaN,0.0,NaN
41422,61190,4.8,Platform,2004-05-06 12:25:20,4.8,FIXED,1,1,1,2009-08-14 18:47:38,2017-07-21 13:06:18,2017-10-12 14:51:37,2017-10-12 14:51:37,2017-10-12 14:51:37,2017-10-12 14:51:37,2897.0,0.0,0.0
41623,61678,3.3,Platform,2004-05-11 01:01:26,3.3,WONTFIX,0,1,0,NaT,NaT,2012-03-01 16:03:02,2012-03-01 16:03:02,NaT,NaT,NaN,0.0,NaN
119593,61744,3.1,PDE,2004-05-11 15:36:37,3.1,FIXED,0,1,1,NaT,NaT,2004-05-11 21:33:02,2005-09-08 23:34:44,2004-05-11 21:33:02,2005-09-08 23:34:44,NaN,485.0,485.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86207,540962,4.9,JDT,2018-11-09 12:32:20,4.9,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
86211,541040,4.9,JDT,2018-11-12 14:52:03,4.9,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
26230,541042,4.9,Platform,2018-11-12 15:25:32,4.9,NaN,1,1,1,2018-11-12 16:55:23,2018-11-12 16:55:23,2018-11-12 16:55:23,2018-11-12 16:55:23,2018-11-12 16:55:23,2018-11-12 16:55:23,0.0,0.0,0.0
86212,541043,4.7,JDT,2018-11-12 15:53:00,4.7,FIXED,1,1,1,2019-01-13 15:51:25,2019-01-13 15:51:25,2019-01-17 10:32:15,2019-01-22 06:45:48,2019-01-17 10:32:15,2019-01-22 06:45:48,0.0,4.0,4.0
26256,541204,4.6,Platform,2018-11-15 14:54:02,4.6,FIXED,0,1,1,NaT,NaT,2018-11-19 13:06:56,2018-11-19 13:06:56,2018-11-19 13:06:56,2018-11-19 13:06:56,NaN,0.0,0.0
86230,541263,4.9,JDT,2018-11-16 21:22:28,4.9,FIXED,1,1,1,2018-11-20 02:50:05,2018-11-20 02:50:05,2018-11-23 09:16:43,2018-11-23 09:16:43,2018-11-23 09:16:43,2018-11-23 09:16:43,0.0,0.0,0.0
86244,541416,4.10,JDT,2018-11-21 15:53:26,4.10,FIXED,0,1,1,NaT,NaT,2018-11-23 06:10:52,2018-11-23 06:10:52,2018-11-23 06:10:52,2018-11-23 06:10:52,NaN,0.0,0.0
26294,541438,4.3,Platform,2018-11-22 09:47:21,4.3,FIXED,1,1,1,2019-01-05 09:05:21,2019-01-05 09:05:21,2019-01-07 17:58:28,2019-01-07 17:58:28,2019-01-07 17:58:28,2019-01-07 17:58:28,0.0,0.0,0.0
126281,541502,4.2,PDE,2018-11-23 14:05:10,3.8.2,FIXED,0,1,1,NaT,NaT,2018-11-26 10:52:46,2018-11-26 10:52:46,2018-11-26 10:52:46,2018-11-26 10:52:46,NaN,0.0,0.0
86260,541531,4.9,JDT,2018-11-24 14:29:58,4.9,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
136845,541607,4.8,Equinox,2018-11-27 15:51:33,4.8.0 Photon,FIXED,0,1,1,NaT,NaT,2018-12-12 13:46:53,2019-01-04 15:33:39,2018-12-12 13:46:53,2019-01-04 15:33:39,NaN,23.0,23.0
126291,541681,4.6,PDE,2018-11-29 08:03:28,4.6,FIXED,0,1,1,NaT,NaT,2019-02-11 10:07:00,2019-02-11 10:07:00,2019-02-11 10:07:00,2019-02-11 10:07:00,NaN,0.0,0.0
86282,541772,4.4,JDT,2018-12-01 02:12:00,4.4.2,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
86289,541844,4.8,JDT,2018-12-03 13:08:15,4.8,WORKSFORME,0,1,0,NaT,NaT,2018-12-03 13:18:14,2018-12-10 17:06:00,NaT,NaT,NaN,7.0,NaN
86291,542084,4.6,JDT,2018-12-04 12:01:55,4.6,FIXED,1,1,1,2018-12-16 18:17:06,2018-12-16 18:17:06,2018-12-16 21:38:58,2018-12-17 11:28:38,2018-12-16 21:38:58,2018-12-17 11:28:38,0.0,0.0,0.0
86293,542089,4.8,JDT,2018-12-04 13:54:00,4.8,NaN,1,0,0,2018-12-17 04:16:25,2018-12-17 04:16:25,NaT,NaT,NaT,NaT,0.0,NaN,NaN
26396,542451,4.9,Platform,2018-12-06 08:02:09,4.9,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
26399,542458,4.9,Platform,2018-12-06 10:09:31,4.9,DUPLICATE,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
26400,542467,4.10,Platform,2018-12-06 13:58:23,4.10,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
26425,542621,4.8,Platform,2018-12-10 13:24:39,4.8,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
26432,542675,4.10,Platform,2018-12-11 15:58:57,4.10,DUPLICATE,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
26436,542706,4.8,Platform,2018-12-12 13:06:47,4.8,WONTFIX,0,1,0,NaT,NaT,2019-01-15 16:12:51,2019-01-15 16:12:51,NaT,NaT,NaN,0.0,NaN
86321,542828,4.9,JDT,2018-12-15 22:07:16,4.9,FIXED,1,1,1,2019-01-12 13:51:23,2019-01-12 13:51:23,2019-01-10 14:25:28,2019-01-12 13:51:23,2019-01-12 13:51:23,2019-01-12 13:51:23,0.0,1.0,0.0
86324,542860,4.6,JDT,2018-12-17 16:36:23,4.6,FIXED,0,1,1,NaT,NaT,2019-01-16 14:42:22,2019-01-16 14:42:22,2019-01-16 14:42:22,2019-01-16 14:42:22,NaN,0.0,0.0
86352,543125,4.8,JDT,2019-01-02 15:13:42,4.8,FIXED,1,1,1,2019-01-07 14:54:59,2019-01-07 14:54:59,2019-01-07 14:54:59,2019-01-07 14:54:59,2019-01-07 14:54:59,2019-01-07 14:54:59,0.0,0.0,0.0
86358,543184,4.9,JDT,2019-01-05 08:21:51,4.9,FIXED,1,1,1,2019-01-09 08:08:43,2019-01-09 08:08:43,2019-01-09 20:57:52,2019-01-09 20:57:52,2019-01-09 20:57:52,2019-01-09 20:57:52,0.0,0.0,0.0
86381,543506,4.8,JDT,2019-01-16 17:21:38,4.8,FIXED,1,1,1,2019-01-17 12:21:39,2019-01-17 12:21:39,2019-01-18 06:28:36,2019-01-18 06:28:36,2019-01-18 06:28:36,2019-01-18 06:28:36,0.0,0.0,0.0
26535,543776,4.7,Platform,2019-01-24 10:05:48,4.7,FIXED,0,1,1,NaT,NaT,2019-02-07 09:03:58,2019-02-07 09:03:58,2019-02-07 09:03:58,2019-02-07 09:03:58,NaN,0.0,0.0
136857,544335,4.2,Equinox,2019-02-11 10:18:34,3.8.0 Juno,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN
86452,544656,4.7,JDT,2019-02-21 09:19:44,4.7,NaN,1,1,1,2019-02-22 09:05:24,2019-02-22 09:05:24,2019-02-24 08:30:03,2019-02-24 08:30:03,2019-02-24 08:30:03,2019-02-24 08:30:03,0.0,0.0,0.0

In [74]:
bug_versions[(bug_versions['id'].isin(sbugs)) &
            (bug_versions['source']=='bug history') &
            (bug_versions['release']=='3.0')]

            id       source    version                when release
264      39064  bug history        3.0 2003-06-18 12:31:20     3.0
394      39447  bug history        3.0 2006-05-24 09:48:23     3.0
429      39593  bug history        3.0 2007-06-20 20:58:56     3.0
602      39955  bug history        3.0 2006-05-24 09:48:24     3.0
1475     41618  bug history        3.0 2006-05-23 22:46:16     3.0
1493     41652  bug history        3.0 2006-05-24 09:48:25     3.0
1611     41858  bug history        3.0 2006-05-24 09:48:25     3.0
1623     41871  bug history        3.0 2006-05-24 09:48:25     3.0
2351     43136  bug history        3.0 2006-05-24 09:48:26     3.0
2488     43386  bug history        3.0 2007-04-09 18:57:48     3.0
4131     46339  bug history        3.0 2006-06-14 15:31:04     3.0
4784     47403  bug history        3.0 2006-05-24 09:48:26     3.0
5957     49557  bug history        3.0 2006-05-24 09:48:27     3.0
6327     50215  bug history        3.0 2005-03-22 15:34:17     3.0
6880     51151  bug history        3.0 2006-05-24 09:48:27     3.0
7117     51580  bug history        3.0 2006-11-24 13:30:33     3.0
7955     52802  bug history        3.0 2006-05-24 09:48:27     3.0
10348    56447  bug history        3.0 2006-05-24 09:48:28     3.0
10706    57017  bug history        3.0 2006-06-14 15:31:14     3.0
10905    57349  bug history        3.0 2007-01-02 22:53:14     3.0
11049    57570  bug history        3.0 2006-05-24 09:48:28     3.0
11111    57699  bug history        3.0 2005-05-02 04:37:55     3.0
11404    58185  bug history        3.0 2005-01-21 21:37:46     3.0
11409    58194  bug history        3.0 2004-04-12 20:21:36     3.0
12031    59342  bug history        3.0 2006-06-14 17:56:30     3.0
13111    61190  bug history        3.0 2017-06-27 13:48:14     3.0
13432    61678  bug history        3.0 2007-04-13 18:57:32     3.0
13482    61744  bug history        3.0 2005-09-08 15:56:33     3.0
14194    62760  bug history        3.0 2007-02-18 00:07:40     3.0
14733    63433  bug history        3.0 2005-01-05 22:48:07     3.0
...        ...          ...        ...                 ...     ...
150511  244003  bug history      3.0.3 2008-10-17 15:47:39     3.0
82204   244935  bug history        3.0 2008-08-26 03:14:19     3.0
82370   245628  bug history        3.0 2008-08-29 05:59:06     3.0
82601   246504  bug history        3.0 2008-09-08 07:03:56     3.0
82821   247340  bug history        3.0 2008-09-15 20:12:39     3.0
82978   247886  bug history      3.0.1 2008-09-18 21:01:12     3.0
83591   250011  bug history      3.0.2 2008-10-07 23:10:18     3.0
86105   259903  bug history        3.0 2009-01-07 19:16:28     3.0
151129  268833  bug history        3.0 2010-03-18 16:04:26     3.0
151157  269832  bug history      3.0.0 2009-05-20 01:25:12     3.0
94750   289974  bug history        3.0 2009-09-21 15:53:38     3.0
102158  318542  bug history        3.0 2010-07-01 06:09:10     3.0
153351  320945  bug history      3.0.5 2010-07-26 18:21:28     3.0
103837  325474  bug history      3.0.5 2010-09-17 15:53:37     3.0
104263  327459  bug history        3.0 2010-10-11 15:35:02     3.0
154010  331919  bug history        3.0 2010-12-14 12:14:17     3.0
106662  337538  bug history  3.0.0.M01 2011-02-18 12:31:45     3.0
111619  364789  bug history      3.0.3 2018-04-16 18:59:12     3.0
116583  388341  bug history      3.0.2 2012-08-29 14:20:07     3.0
120187  405332  bug history        3.0 2013-04-10 21:32:38     3.0
120988  409073  bug history        3.0 2013-05-26 11:09:10     3.0
121548  412285  bug history        3.0 2013-07-04 10:59:38     3.0
157336  447682  bug history        3.0 2014-10-20 12:47:59     3.0
131924  470076  bug history      3.0.0 2016-06-09 18:45:14     3.0
133277  476801  bug history      3.0.1 2015-09-24 08:34:15     3.0
133805  479542  bug history      3.0.1 2015-10-17 17:46:24     3.0
134374  482354  bug history      3.0.1 2015-11-20 15:42:46     3.0
157878  483927  bug history        3.0 2015-12-10 17:31:38     3.0
136862  493660  bug history      3.0.2 2016-06-01 11:21:59     3.0
141242  515442  bug history        3.0 2017-05-24 14:21:47     3.0

[322 rows x 5 columns]

In [70]:
sbugs = bug_versions[bug_versions['source']!='version field'].id.unique().tolist()
sbugs

[39064,
 39447,
 39593,
 39955,
 41618,
 41652,
 41858,
 41871,
 43136,
 43386,
 46339,
 47354,
 47403,
 49557,
 50215,
 50362,
 51151,
 51580,
 52802,
 56447,
 57017,
 57349,
 57570,
 57699,
 58185,
 58194,
 59342,
 61190,
 61678,
 61744,
 62760,
 63433,
 63514,
 64310,
 64797,
 64878,
 65088,
 65089,
 65796,
 65797,
 66556,
 66719,
 66758,
 67418,
 67500,
 67539,
 67543,
 67654,
 67791,
 67810,
 68330,
 68518,
 68632,
 69753,
 69892,
 70238,
 70579,
 70875,
 70891,
 71055,
 71098,
 71288,
 71304,
 71636,
 71739,
 71783,
 72053,
 72092,
 72191,
 72316,
 72507,
 72643,
 73460,
 73487,
 73784,
 73977,
 74119,
 74406,
 74594,
 74709,
 74722,
 74936,
 75128,
 75153,
 75272,
 75360,
 75409,
 75496,
 75602,
 75641,
 75666,
 75785,
 75899,
 75930,
 75943,
 75958,
 75962,
 75990,
 76036,
 76108,
 76245,
 76249,
 76256,
 76295,
 76327,
 76446,
 76497,
 76498,
 76501,
 76784,
 76814,
 76832,
 76992,
 76993,
 77026,
 77146,
 77283,
 77284,
 77355,
 77371,
 77388,
 77456,
 77496,
 77563,
 77567,
 77599,
 77602,
 77630,
 77753,
 77808,
 77847,
 77861,
 77882,
 77884,
 77911,
 77928,
 77955,
 78010,
 78056,
 78082,
 78095,
 78227,
 78317,
 78342,
 78380,
 78411,
 78447,
 78474,
 78495,
 78499,
 78581,
 78695,
 78724,
 78780,
 78872,
 78926,
 78931,
 79027,
 79074,
 79205,
 79436,
 79592,
 79791,
 79809,
 79821,
 79904,
 79925,
 79930,
 80618,
 80731,
 80792,
 80798,
 81221,
 81612,
 81852,
 81853,
 81855,
 81856,
 81857,
 81951,
 82027,
 82147,
 82329,
 82336,
 82815,
 83001,
 83323,
 83425,
 83668,
 83705,
 83755,
 83825,
 83895,
 84103,
 84232,
 84259,
 84434,
 84662,
 84682,
 84820,
 85118,
 85379,
 85728,
 85892,
 85903,
 85918,
 86080,
 86224,
 86320,
 86331,
 86379,
 86461,
 86571,
 86617,
 86667,
 86685,
 86743,
 86788,
 86803,
 86844,
 86848,
 86955,
 86964,
 87255,
 87642,
 87768,
 87859,
 88070,
 88082,
 88094,
 88157,
 88159,
 88217,
 88407,
 88483,
 88656,
 88737,
 88738,
 88740,
 88819,
 88822,
 88909,
 88929,
 89063,
 89246,
 89317,
 89347,
 89380,
 89473,
 89492,
 89497,
 89502,
 89505,
 89513,
 89517,
 89622,
 89625,
 89634,
 89697,
 89715,
 89766,
 89934,
 89958,
 90038,
 90095,
 90209,
 90350,
 90364,
 90386,
 90630,
 90631,
 90713,
 90924,
 90955,
 91331,
 91364,
 91537,
 91659,
 92019,
 92033,
 92108,
 92172,
 92250,
 92255,
 92302,
 92567,
 92738,
 92740,
 92831,
 92922,
 92950,
 93263,
 93399,
 93449,
 94026,
 94102,
 94485,
 94549,
 94790,
 94819,
 94839,
 94849,
 94878,
 94914,
 95146,
 95213,
 95232,
 95733,
 95902,
 96039,
 96122,
 96205,
 96327,
 96365,
 96491,
 96527,
 96672,
 96718,
 96896,
 96925,
 96996,
 97021,
 97056,
 97069,
 100225,
 100255,
 100273,
 100283,
 100312,
 100574,
 100638,
 100903,
 100914,
 100959,
 101023,
 101061,
 101152,
 101224,
 101440,
 101444,
 101453,
 101679,
 101847,
 102135,
 102204,
 102503,
 102640,
 102708,
 102902,
 102925,
 102952,
 103053,
 103299,
 103301,
 103650,
 103691,
 103809,
 103993,
 104060,
 104105,
 104244,
 104267,
 104275,
 104351,
 104361,
 104814,
 104988,
 105005,
 105023,
 105303,
 105306,
 105322,
 105515,
 105554,
 105778,
 105870,
 105889,
 105897,
 106003,
 106297,
 106384,
 106448,
 106462,
 106491,
 106555,
 106607,
 106647,
 106673,
 106817,
 107013,
 107143,
 107331,
 107343,
 107576,
 107579,
 107602,
 107683,
 107781,
 107800,
 107836,
 107931,
 108066,
 108109,
 108126,
 108204,
 108214,
 108299,
 108326,
 108431,
 108463,
 108668,
 108672,
 108735,
 108736,
 108751,
 108862,
 108893,
 108897,
 108914,
 108988,
 109142,
 109218,
 109293,
 109330,
 109343,
 109380,
 109423,
 109550,
 109558,
 109611,
 109632,
 109649,
 109725,
 109898,
 109914,
 110033,
 110063,
 110182,
 110185,
 110192,
 110215,
 110293,
 110339,
 110357,
 110399,
 110451,
 110529,
 110576,
 110749,
 110831,
 111364,
 111434,
 112024,
 112091,
 112148,
 112391,
 112760,
 112857,
 113028,
 113067,
 113098,
 113135,
 113176,
 113278,
 113643,
 113644,
 113870,
 113998,
 114148,
 114794,
 114907,
 115163,
 115411,
 115524,
 115809,
 116096,
 116234,
 116235,
 116728,
 117321,
 117493,
 117496,
 117727,
 117804,
 118153,
 118294,
 119371,
 119390,
 119581,
 119829,
 119948,
 120350,
 120397,
 120688,
 120902,
 121087,
 121097,
 121201,
 121260,
 121296,
 121783,
 122052,
 122103,
 122320,
 122616,
 123263,
 123270,
 123319,
 123398,
 123473,
 123520,
 123824,
 123832,
 123889,
 123894,
 124138,
 124141,
 124529,
 124562,
 124656,
 124734,
 125023,
 125250,
 125367,
 125402,
 125566,
 126178,
 126430,
 126439,
 126442,
 126619,
 127036,
 127048,
 127092,
 127190,
 127531,
 127628,
 127688,
 127728,
 127752,
 127807,
 127817,
 127821,
 127826,
 128157,
 128164,
 128474,
 128520,
 128683,
 128768,
 129271,
 129279,
 129388,
 129469,
 129747,
 129818,
 129873,
 129965,
 130114,
 130194,
 130263,
 130386,
 130582,
 130586,
 130653,
 130729,
 130885,
 131161,
 131447,
 131542,
 131788,
 131810,
 131996,
 133297,
 133705,
 133712,
 133728,
 133855,
 134086,
 134305,
 134364,
 134413,
 134731,
 134973,
 135712,
 135763,
 135971,
 136144,
 136372,
 136434,
 136436,
 136503,
 136911,
 137248,
 137685,
 138089,
 138184,
 138290,
 138458,
 138783,
 139195,
 139700,
 140330,
 140547,
 140604,
 140696,
 140697,
 141189,
 141983,
 142190,
 142284,
 142623,
 142983,
 143849,
 144026,
 144823,
 145248,
 145257,
 145662,
 146322,
 146565,
 146577,
 146706,
 146920,
 147232,
 147284,
 147393,
 147520,
 148010,
 148035,
 148995,
 149121,
 149231,
 149390,
 149535,
 150009,
 150404,
 150558,
 150909,
 150921,
 151294,
 151474,
 151660,
 151700,
 152034,
 152571,
 152572,
 152916,
 152939,
 153105,
 153179,
 153890,
 153912,
 153936,
 154027,
 154047,
 154216,
 154344,
 154349,
 154518,
 154592,
 154636,
 154701,
 155081,
 155404,
 155459,
 155762,
 155782,
 155844,
 155857,
 155873,
 155971,
 156002,
 156133,
 156134,
 156370,
 156486,
 156738,
 156808,
 156999,
 157010,
 157336,
 157375,
 157478,
 157487,
 158163,
 158308,
 158945,
 158970,
 159027,
 159294,
 159347,
 159359,
 159537,
 159894,
 160076,
 160251,
 160333,
 160350,
 160361,
 160486,
 160529,
 160614,
 160635,
 160809,
 160915,
 160959,
 161062,
 162056,
 162164,
 162417,
 162432,
 162433,
 162520,
 162662,
 162978,
 163020,
 163032,
 163339,
 163550,
 163934,
 163968,
 164089,
 164134,
 164679,
 165063,
 165158,
 165179,
 165892,
 166512,
 166593,
 166594,
 166610,
 166942,
 167294,
 167756,
 167770,
 167891,
 167892,
 168379,
 168579,
 168588,
 168617,
 168995,
 169011,
 169291,
 169571,
 169631,
 169782,
 169943,
 170025,
 170502,
 170544,
 170631,
 170662,
 170770,
 171056,
 171082,
 171522,
 171682,
 171749,
 172079,
 172346,
 172356,
 172448,
 172876,
 172944,
 173189,
 173272,
 173746,
 173931,
 174039,
 174219,
 174282,
 174642,
 174804,
 175154,
 175352,
 175649,
 176705,
 176792,
 177030,
 177150,
 177525,
 177748,
 177750,
 177851,
 178028,
 178081,
 178132,
 178527,
 178667,
 178824,
 178900,
 179704,
 181116,
 181380,
 181456,
 181508,
 181567,
 181676,
 181718,
 181719,
 181720,
 181727,
 182029,
 182217,
 182238,
 182466,
 182598,
 183074,
 183627,
 183682,
 183791,
 183943,
 184021,
 184227,
 184353,
 184538,
 184575,
 184812,
 184859,
 185538,
 185646,
 185915,
 186579,
 186628,
 187362,
 187730,
 187979,
 188031,
 188032,
 188034,
 188035,
 188037,
 188044,
 188242,
 188361,
 188443,
 188459,
 188996,
 189084,
 189794,
 190869,
 191487,
 191632,
 191822,
 192054,
 192446,
 192678,
 192986,
 193522,
 193577,
 194224,
 194299,
 194404,
 194511,
 194598,
 194665,
 194890,
 195046,
 195440,
 195620,
 195766,
 196043,
 196061,
 196063,
 196318,
 196354,
 196538,
 196870,
 197284,
 197381,
 197382,
 197699,
 197701,
 197960,
 198065,
 198430,
 198559,
 198578,
 198592,
 198658,
 198732,
 198742,
 198823,
 198884,
 198931,
 198942,
 199022,
 199129,
 199203,
 199299,
 199317,
 199321,
 199385,
 199434,
 199452,
 199532,
 199545,
 199771,
 199806,
 199864,
 200020,
 200070,
 200261,
 200316,
 200380,
 200569,
 200714,
 200723,
 200819,
 200868,
 200972,
 201083,
 201561,
 201700,
 202140,
 202142,
 202318,
 202319,
 202357,
 202358,
 202395,
 202940,
 202942,
 203262,
 203276,
 203279,
 203281,
 203283,
 203323,
 203356,
 203435,
 203442,
 203771,
 203773,
 203817,
 203946,
 204019,
 204060,
 204102,
 204121,
 204124,
 204163,
 204184,
 204296,
 204428,
 204626,
 204662,
 204671,
 204835,
 204866,
 204944,
 205451,
 205537,
 205700,
 205827,
 205842,
 205847,
 206299,
 206717,
 206740,
 206769,
 206833,
 206950,
 206957,
 207164,
 207200,
 207511,
 207578,
 207631,
 207644,
 207839,
 207875,
 208020,
 208082,
 208422,
 208462,
 208611,
 208756,
 208956,
 209325,
 209537,
 209636,
 209739,
 209852,
 210045,
 210046,
 211288,
 211354,
 211613,
 211623,
 211825,
 211857,
 211966,
 212035,
 212244,
 212416,
 212778,
 ...]

In [ ]:
bug_versions.to_csv(bug_versions_file,index=False,compression='zip')

In [32]:
def get_tap(value):
    tap = tuple(int(i) for i in value.split('.'))
    return tap

def ag_function_min(values):
    values = values.unique().tolist()
    if len(values)>1:
        values = [get_tap(x) for x in values]
        values = sorted(values)
        min_val = values[0]
        return str(min_val[0])+'.'+str(min_val[1])
    else:
        return values[0]
    
def ag_function_max(values):
    values = values.unique().tolist()
    if len(values)>1:
        values = [get_tap(x) for x in values]
        values = sorted(values,reverse=True)
        max_val = values[0]
        return str(max_val[0])+'.'+str(max_val[1])
    else:
        return values[0]

min_releases = (
    bug_versions
    .groupby(by=['id'])
    .agg({'release':ag_function_min})
    .reset_index()
    .rename(index=str,columns={'release':'min_release'})
)
max_releases = (
    bug_versions
    .groupby(by=['id'])
    .agg({'release':ag_function_max})
    .reset_index()
    .rename(index=str,columns={'release':'max_release'})
)

if 'min_release' not in df_bugs.columns:
    df_bugs = pd.merge(df_bugs,min_releases,on=['id'],how='left')
    
if 'max_release' not in df_bugs.columns:
    df_bugs = pd.merge(df_bugs,max_releases,on=['id'],how='left')

In [33]:
df_bugs.head()

,id,release,Product,creation_time,version,resolution,is_assigned,is_resolved,is_fixed,first_assignment_date,last_assignment_date,first_resolved_date,last_resolved_date,first_fixed_date,last_fixed_date,time_assign_diff,time_resolve_diff,time_fix_diff,min_release,max_release
0,475361,4.5,Platform,2015-08-19 10:50:25,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03,2015-08-19 11:53:03,NaN,0.0,0.0,4.5,4.5
1,475365,4.6,Platform,2015-08-19 11:34:37,4.6,FIXED,0,1,1,NaT,NaT,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30,2015-08-26 14:29:30,NaN,0.0,0.0,4.6,4.6
2,475370,4.5,Platform,2015-08-19 12:09:06,4.5,DUPLICATE,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,4.5,4.5
3,475379,4.5,Platform,2015-08-19 13:39:12,4.5,NaN,0,0,0,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,4.5,4.5
4,475407,4.5,Platform,2015-08-19 17:06:10,4.5,FIXED,0,1,1,NaT,NaT,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25,2015-08-19 17:15:25,NaN,0.0,0.0,4.5,4.5

In [34]:
#the bugs with not version coming from the bug history will have None values in the min and max release columns
for index,row in df_bugs[df_bugs['min_release'].isna()].iterrows():
    df_bugs.loc[index,'min_release'] = row['release']
    
for index,row in df_bugs[df_bugs['max_release'].isna()].iterrows():
    df_bugs.loc[index,'max_release'] = row['release']

In [35]:
print('Bugs in more than one release:'+str(len(df_bugs[df_bugs['min_release']!=df_bugs['max_release']])))
perc = len(df_bugs[df_bugs['min_release']!=df_bugs['max_release']])/len(df_bugs)
print('Percentage:'+str(perc))

Bugs in more than one release:3604
Percentage:0.026031998266459605

In [36]:
#create a temp dataframe to calculate this
dftemp = df_bugs
dftemp['min_release_before_version_field'] = dftemp.apply(
    lambda x :
    is_larger_release(x['release'],x['min_release']),
    axis=1
)
print('Bugs started in earlier releases (compared to the verion field value):'+str(len(dftemp[dftemp['min_release_before_version_field']==True])))

Bugs started in earlier releases (compared to the verion field value):1709

In [37]:
dftemp['min_release_after_version_field'] = dftemp.apply(
    lambda x :
    is_larger_release(x['min_release'],x['release']),
    axis=1
)
print('Bugs started in subsequent releases (compared to the verion field value):'+str(len(dftemp[dftemp['min_release_after_version_field']==True])))

Bugs started in subsequent releases (compared to the verion field value):0

In [38]:
#EXPORT FILES
df_bugs.to_csv(bugs_final_info_file,index=False,compression='zip')

# Take into account if the release is changed when calculating the difference between the first and last assingment date

### WILL WE DO THIS???? IF NOT, REMOVE THE SUBSEQUENT CELLS

In [ ]:
@ELENI: CONTINUE FROM HERE

In [ ]:
df_all = pd.read_csv('.'+os.sep+'data'+os.sep+'bugs_info_initial_versions.zip',index_col=False,compression='zip')
df_all = df_bugs.fillna('')
df_all.head()

In [ ]:
#@Zeinab: what does this count?
assigned_in_zero=assigned_df[assigned_df['f_l_assign_diff']!=pd.Timedelta(0)]

assigned_in_zero=assigned_in_zero[['bug_id']]
assigned_in_zero.columns

vers_bugs=pd.merge(assigned_in_zero, df_all, on=['bug_id'], how='inner')

len(vers_bugs.bug_id.unique())


vers=vers_bugs[vers_bugs['version']!=vers_bugs['intial_version']]


version_change=pd.merge(vers, df, on=['bug_id', 'release', 'Product', 'creation_ts', 'version'], how='inner')


len(version_change.bug_id.unique())

In [ ]:
version_change=version_change[version_change['What']=='version']
version_change['last_assignment_date'] = pd.to_datetime(version_change['last_assignment_date'])
version_change['resolved_date'] = pd.to_datetime(version_change['resolved_date'])

In [ ]:
version_btw_l_f=version_change[version_change['When']<version_change['last_assignment_date']]
len(version_btw_l_f.bug_id.unique())

In [ ]:
version_btw_l_f=version_btw_l_f[version_btw_l_f['When']>version_btw_l_f['resolved_date']]
len(version_btw_l_f.bug_id.unique())

In [ ]:
version_btw_l_f['added_minor']=version_btw_l_f.apply(lambda x: str(closest_minor(x['Added'])),axis=1)
version_btw_l_f['removed_minor']=version_btw_l_f.apply(lambda x: str(closest_minor(x['removed'])),axis=1)

In [ ]:
version_btw_l_f[version_btw_l_f['added_minor']!=version_btw_l_f['removed_minor']]

In [ ]:

version_btw_l_f[version_btw_l_f['bug_id']==246547]